[2020-12-15 12:46] #539 closed

[2020-12-15 13:04] lauranovich commented on #538
This page was replaced and the error no longer exists. I am closing the issue, but if you feel something wasn't addressed, feel free to reopen.

[2020-12-15 13:04] #538 closed

[2020-12-15 13:07] lauranovich commented on #536
this error was fixed, and no longer exists. I am closing. Thank you for your input.

[2020-12-15 13:08] lauranovich commented on #535
this error was fixed, and no longer exists. I am closing. Thank you for your input.

[2020-12-15 13:08] #535 closed

[2020-12-15 13:10] lauranovich commented on #536
this error was fixed, the page deleted, and no longer exists. I am closing. Thank you for your input.

[2020-12-15 13:10] #536 closed

[2020-12-15 13:10] lauranovich commented on #534
this error was fixed, the page deleted, and no longer exists. I am closing. Thank you for your input.

[2020-12-15 13:10] #534 closed

[2020-12-15 13:14] lauranovich commented on #531
@mmatczuk @tzach - this is more of a product and not a doc issue can you please take a look at the question?

[2020-12-15 13:15] lauranovich commented on #532
@mmatczuk @tzach can you please answer the question here?

[2020-12-15 13:16] lauranovich commented on #533
this issue was fixed, the page deleted and replaced and no longer exists. I am closing this issue. Thank you for your input!

[2020-12-15 13:16] #533 closed

[2020-12-15 13:20] mmatczuk commented on #531
Even better this should be per managed cluster. Let's migrate this issue to SM repo.

[2020-12-15 13:23] mmatczuk commented on #532
It's a statically linked binary it would run on the latest versions too, we should explain that.

[2020-12-15 14:35] lauranovich commented on #522
@mmatczuk can you answer this question

[2020-12-15 14:36] lauranovich commented on #522
@tzach this seems more product than docs related.

[2020-12-15 14:37] lauranovich commented on #521
@mmatczuk this is not a docs issue it looks like a product issue

[2020-12-15 14:38] lauranovich commented on #520
this page is no longer an issue and has been fixed. thank you for the feedback, closing.

[2020-12-15 14:38] #520 closed

[2020-12-15 14:57] lauranovich opened #668 "Issue on Scylla Monitor index page for version 3.5.2"
I would like to report an issue in page https://scylladb.github.io/scylla-monitoring//scylla-monitoring-3.5.2/index
The index
![Screenshot from 2020-12-15 16-56-59](https://user-images.githubusercontent.com/36125151/102231357-8fc71d00-3ef6-11eb-9673-cd8e1fadf0a0.png)

page for 3.5.2 gives a warning that the page is outdated and you should go to 3.5.1, the opposite is true...

### Problem

###  Sug

[2020-12-15 15:08] lauranovich commented on #500
this typo is no longer there, closing

[2020-12-15 15:08] #500 closed

[2020-12-15 15:27] tzach commented on #668
@lauranovich better open the issue in the monitoring project

[2020-12-15 15:29] lauranovich commented on #493
@tzach - thoughts?

[2020-12-15 15:46] lauranovich commented on #507
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input.

[2020-12-15 15:46] #507 closed

[2020-12-15 15:47] lauranovich commented on #506
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input!

[2020-12-15 15:47] #506 closed

[2020-12-15 15:47] lauranovich commented on #505
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input!

[2020-12-15 15:47] #505 closed

[2020-12-15 15:47] lauranovich commented on #504
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input!

[2020-12-15 15:47] #504 closed

[2020-12-15 15:47] lauranovich commented on #503
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input!

[2020-12-15 15:47] #503 closed

[2020-12-15 15:48] lauranovich commented on #502
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input!

[2020-12-15 15:48] #502 closed

[2020-12-15 15:48] lauranovich commented on #501
Fixed with https://github.com/scylladb/scylla-docs/pull/3281, closing. Thank you for your input!

[2020-12-15 15:48] #501 closed

[2020-12-15 15:51] lauranovich commented on #668
@tzach - I did, it directed here.

[2020-12-15 18:46] lauranovich commented on #531
@michal, I'll open the issue.

[2020-12-15 18:58] tzach commented on #668
Just fixed this issue
https://github.com/scylladb/scylla-monitoring/issues/1174

Please reopen on the relevant project

[2020-12-15 18:58] #668 closed

[2020-12-15 19:25] tzach commented on #493
This is true
In a rack aware deployment, it is recommended to add a node on each rack

[2020-12-15 19:26] tzach commented on #522
True.
@classbasics please reopen on https://github.com/scylladb/scylla-manager-issues

[2020-12-15 19:26] #522 closed

[2020-12-15 21:42] classbasics commented on #500
typo still there
http://docs.scylladb.com/kb/compaction/

[2020-12-15 21:50] classbasics commented on #415
The stale bot should only be active after a team member has commented, otherwise feedback that may still be relevant is deleted.

[2020-12-16 05:54] lauranovich commented on #500
Thanks, I'll check it out

On Tue, Dec 15, 2020, 23:42 Damien Bushby <notifications@github.com> wrote:

[2020-12-16 07:52] #363 closed

[2020-12-16 07:54] #650 closed

[2020-12-16 07:55] #662 closed

[2020-12-16 07:55] #164 closed

[2020-12-16 08:21] lauranovich commented on #531
@classbasics - this issue was moved to Scylla Manager https://github.com/scylladb/scylla-manager/issues/2397 - you should still be able to monitor it from here even though the repo is private.

[2020-12-16 08:28] lauranovich commented on #531
Closing this issue

[2020-12-16 08:28] #531 closed

[2020-12-16 08:29] lauranovich commented on #660
Fixed with scylladb/scylla-monitoring#1163. Thank you for the input!

[2020-12-16 08:31] lauranovich commented on #599
Fixed with https://github.com/scylladb/scylla-docs/pull/3122. Thank you for the input

[2020-12-16 09:20] lauranovich commented on #500
the new version needs to be deployed.
@tzach please advise

[2020-12-16 09:22] lauranovich commented on #499
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:22] #499 closed

[2020-12-16 09:22] lauranovich commented on #498
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:22] #498 closed

[2020-12-16 09:23] lauranovich commented on #497
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:23] #497 closed

[2020-12-16 09:23] lauranovich commented on #496
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:23] #496 closed

[2020-12-16 09:23] lauranovich commented on #495
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:23] #495 closed

[2020-12-16 09:23] lauranovich commented on #494
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:23] #494 closed

[2020-12-16 09:24] lauranovich commented on #492
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:24] #492 closed

[2020-12-16 09:24] lauranovich commented on #491
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:24] #491 closed

[2020-12-16 09:25] lauranovich commented on #490
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:25] #490 closed

[2020-12-16 09:25] lauranovich commented on #489
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:25] #489 closed

[2020-12-16 09:25] lauranovich commented on #488
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:25] #488 closed

[2020-12-16 09:26] lauranovich commented on #487
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:26] #487 closed

[2020-12-16 09:26] lauranovich commented on #486
Fixed with https://github.com/scylladb/scylla-docs/pull/3282, thank you for your input. Closing!

[2020-12-16 09:26] #486 closed

[2020-12-16 09:52] tzach commented on #500
please check now

[2020-12-16 10:05] lauranovich commented on #500
Thanks, seems to be fixed now. @classbasics let us know if there are any other issues.

[2020-12-16 10:24] #423 closed

[2020-12-16 10:24] #424 closed

[2020-12-16 10:24] #425 closed

[2020-12-16 10:24] #426 closed

[2020-12-16 10:24] #427 closed

[2020-12-16 10:26] #481 closed

[2020-12-16 10:26] #482 closed

[2020-12-16 10:26] #483 closed

[2020-12-16 10:26] #484 closed

[2020-12-16 10:26] #485 closed

[2020-12-16 14:43] #537 closed

[2020-12-16 20:12] schneiderdba opened #669 "Issue in page Install Scylla Monitoring Stack"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/monitoring/3.4/monitoring_stack

### Problem
there needs to be a line where we create the "data_dir" and chmod this directory to 777 or 644
###  Suggest a fix
there needs to be a line where we create the "data_dir" and chmod this directory to 777 or 644

[2020-12-23 09:27] guy9 commented on #667
@lauranovich it seems like part of the example is missing.
Do you have the original copy somewhere?

[2020-12-23 10:03] #194 closed

[2020-12-23 10:03] kostja commented on #194
(this is fixed)

[2020-12-23 10:06] kostja commented on #346
This is closed along with other documentation defects in scope of https://github.com/scylladb/scylla/issues/7170

[2020-12-23 10:06] #346 closed

[2020-12-23 11:47] nyh commented on #346
@kostja noted in https://github.com/scylladb/scylla/issues/7082#issuecomment-750145947:

The following docs are updated with by scylladb/scylla-docs#3150

https://docs.scylladb.com/getting-started/dml/
https://docs.scylladb.com/getting-started/types
https://docs.scylladb.com/kb/lwt-differences
https://docs.scylladb.com/using-scylla/lwt

[2020-12-23 11:58] nyh commented on #346
@kostja the text is much better now, but in my opinion still confuses what an "insert" means and shouldn't leave the explanation about replacing the existing value to a code comment. I'll send my own patch to improve this.

[2020-12-23 12:25] lauranovich commented on #601
@amnonh ping

[2020-12-23 12:25] lauranovich commented on #600
@amnonh ping

[2020-12-23 20:03] zooptwopointone opened #670 "Issue in page Adding a New Data Center Into an Existing Scylla Cluster"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/add_dc_to_existing_dc

### Problem
Some information on the page is not clear what is required to maintain a stable cluster while making these changes.

1. Add node top of the section we talk about the need to modify the replication over the keyspaces.

  Here I understand what you are

[2020-12-24 12:47] amnonh commented on #600
I don't think this suggestion is correct.

checking with `curl` (as described in item 2 under https://docs.scylladb.com/operating-scylla/monitoring/3.4/monitor_troubleshoot/#id3) is true only after you validate that it is running on the local machine.
If you run a `curl` and it fails, you don't know if it's that node_exporter is not running, or that there is a network-related issue (like a firewal

[2020-12-24 13:02] amnonh commented on #524
Prometheus should be able to run as root, this is not a documentation issue, it's either a monitoring issue or a configuration problem

[2020-12-24 13:08] amnonh commented on #528
This will not check if node_exporter is running, it will tell you if node_exporter is installed

[2020-12-24 13:19] amnonh commented on #529
It's not part of the monitoring docs

it should be changed to:
/start-all.sh -s path/to/scylla_servers.yml -n
-d path/to/mydata -v 3.0 -M 2.0

[2020-12-24 13:34] amnonh commented on #597
alread fixed in 3.5

[2020-12-24 13:34] #597 closed

[2020-12-24 13:39] amnonh commented on #598
I don't understand the issue, you can download either a branch or a release, those are two different things, changing your monitoring directory after installation, is ok, but not part of the install procedure

[2020-12-24 13:49] amnonh commented on #601
This is not correct, scylla manager is not part of the cluster and ip:9100/metrics is for node_exporter

[2020-12-24 14:57] amnonh commented on #611
This is no a documentation issue, probably a manager enhencement

[2020-12-24 15:08] amnonh commented on #602
Duplicate of #529

[2020-12-24 15:08] #602 closed

[2020-12-24 18:55] tzach commented on #611
@classbasics please open an entrenchment request on https://github.com/scylladb/scylla-manager-issues/issues
Also, not sure I understand the request.
Are you looking for Manager to backup Monitoring data? if so, it make sense

[2020-12-26 17:17] tzach commented on #188
@lauranovich I think you already fix this
Please add relevant commit and close

[2020-12-27 11:53] classbasics commented on #611
Yes, Manager to backup Monitoring data.
I think there was an issue with Manager and Monitor on the same node.
It has been a long time since I looked at the docs.
Most of my suggested changes, mainly typos, have been killed by the stale bot.

[2020-12-28 18:28] zooptwopointone opened #671 "Issue in page Adding a New Data Center Into an Existing Scylla Cluster"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/add_dc_to_existing_dc

### Problem
Unclear on auto_bootstrap option

the Scylla university video has a clip saying that it should be set to false.
https://university.scylladb.com/courses/scylla-operations/lessons/admin-procedures-and-tools/topic/admin-procedures-2/    at 04:23

My unde

[2020-12-31 09:56] tzach commented on #628
still valid

[2021-01-03 07:57] tzach commented on #630
Keeping this alive
@gcarmin a PR will be appriciated

[2021-01-03 07:59] tzach commented on #629
@lauranovich ping

[2021-01-05 02:20] PeterCorless opened #672 "Issue in page Benchmarking Scylla"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/benchmarking-scylla

### Problem

Mentions setting up DPDK, but I don't believe we're using that in Scylla.

###  Suggest a fix

Remove such mention; provide other guidance to network setup as relevant.

[2021-01-05 06:44] tzach commented on #672
This page is **very** old, and I think we should just remove it for now

[2021-01-05 08:18] amnonh commented on #608
I think the only part the user should do, is make sure his prometheus external directory have the right permissions, this is cover in the documents by:
http://scylladb.github.io/scylla-monitoring/scylla-monitoring-3.5.2/monitoring_stack.html#use-an-external-directory-for-the-prometheus-data-directory

[2021-01-05 08:21] GDesignGroup opened #673 "Issue in page Data Types"
I would like to report an issue in page https://docs.scylladb.com//getting-started/types

### Problem
A list is a (sorted) collection of non-unique values where elements are ordered by there position in the list.
###  Suggest a fix
by their position

I often make the same typo, so I thought I'd help you fix it. :-)

[2021-01-05 08:28] #673 closed

[2021-01-05 08:29] tzach commented on #673
Good catch and thanks for letting us know!
The fix will be soon be available in the site

[2021-01-05 08:30] amnonh commented on #527
None of the above suggestion would work, you cannot change the data source configuration.
We are talking about a situation that both Grafana and Prometheus are working, but there are no metrics in the dashboard, at this point we clear Prometheus and want to check the datasource to see if that would return an error.

[2021-01-05 12:15] #319 closed

[2021-01-05 12:50] AdamStawarz opened #674 "Issue in page Scylla Monitoring"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/monitoring/index
From left menu --> Scylla for Administrators --> Scylla Monitoring --> Monitor Support Matrix

### Problem
404 status code on --> https://scylladb.github.io/scylla-monitoring/master/matrix.html
###  Suggest a fix
should redirect to ?:
http://scylladb.github.io/scylla-monitoring/scylla-monitoring-3.

[2021-01-09 16:19] tzach commented on #632
@vladzcloudius @fruch ping

[2021-01-10 07:39] PeterCorless opened #675 "Issue in page Data Manipulation"
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

### Problem

We don't really use the term CRUD, but the market does. However, we should point people to this page if they search for 'CRUD.'

###  Suggest a fix

Suggest having a short primer on how Scylla's data manipulation is different than standard RDBMS CRUD, and a mapping of what's the same or what's diff

[2021-01-10 18:59] tzach commented on #307
Closing, the doc and issue are both in the manager repo.

[2021-01-10 18:59] #307 closed

[2021-01-11 18:51] tzach opened #676 "Issue in page Scylla Alternator - point to Scylla project"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/alternator/index

### Problem
The pages can be delete from this project and point to https://scylladb.github.io/scylla/master/alternator/alternator.html

[2021-01-11 23:03] vladzcloudius commented on #632
@tzach Sorry. Missed the original request. See below.

Yes

Yes.

[2021-01-12 17:09] lauranovich opened #677 "Issue in page Data Manipulation"
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

### Problem
Address issues brought up by Karl Kingsbury where UPDATE needs to be better explained.
###  Suggest a fix

[2021-01-12 19:12] tzach commented on #677
@kostja maybe you can elaborate?

[2021-01-12 19:17] kostja commented on #677
In his video, Kyle mentions issues which are already addressed.

[2021-01-12 19:17] #677 closed

[2021-01-13 13:49] #83 closed

[2021-01-14 03:32] Giangblackk opened #678 "Issue in page Nodetool"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool

### Problem
Typo: "enbleautocompaction - Enable automatic compaction of a keyspace or table."
###  Suggest a fix
Correct: "enableautocompaction"

[2021-01-14 06:23] sumitmenaria opened #679 "Issue in page Create a Scylla Cluster on EC2 (Single or Multi Data Center)"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/ec2_dc

### Problem

Typo error in the line below
"For more on Scylla AMI, and how to configure scylla.yaml parameter from the EC2 user-data see Scylla Machien Image"

###  Suggest a fix

"For more on Scylla AMI, and how to configure scylla.yaml parameter from the EC2 user-data see Scy

[2021-01-14 13:11] fruch opened #680 "Full documentation of scylla.yaml possible parameters"
Sending people to look at the code, is quite confusing them.

https://scylladb-users.slack.com/archives/C2NLNBXLN/p1610542204408600?thread_ts=1610518427.405100&cid=C2NLNBXLN
![image](https://user-images.githubusercontent.com/340979/104595034-adfd7580-567a-11eb-8e3e-61b9683d1695.png)

also which one supports dynamic changing without restart, also not really clear to users.

[2021-01-14 14:10] tzach commented on #680
Now that we generate docs directly from the scylla code tree httsp://scylla.docs.scylladb.com/
we can publish, or extract the docs directly from the yaml or config file

[2021-01-14 14:23] fruch commented on #680
FYI, event the config file doesn't have all of it.
the code seem to be the source of truth (config.cc)

[2021-01-14 14:28] tzach commented on #680
Yes.
The best will be to extract the parameter and config from C++ to YAML and publish it

[2021-01-14 14:28] tzach commented on #680
YAML can be JSON, srt, or ASN.1

[2021-01-14 14:35] fruch commented on #680
YAMLs all the way down :+1:

BTW this week TOML got to 1.0, maybe we should use that ? (just kidding)

[2021-01-19 09:41] slivne opened #681 "Issue in page Change Data Capture (CDC)"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/cdc/index

@kbr- / @haaawk - AFAIK we have other options in CDC aside from delta/preimage/postimage - I think we support also keys (used for alternator streams)

Can you please double check that all the options are listed

[2021-01-19 16:01] psarna opened #682 "Incorrect claim for supporting collection secondary indexes on keys"
Update the path to the relevant Doc page: https://docs.scylladb.com/getting-started/secondary_indexes/

#### Problem

The page shows the following example of an indexed query:
[code]
such indexes on keys are not supported in Scylla.

#### Suggest a fix

This example might be misleading and should be dropped (it was reported by a user on the mailing list).

[2021-01-19 16:04] psarna commented on #682
The page also mentions that we can create an index on values, e.g. `CREATE INDEX ON users (values(favs))`, which is also not the case. The only way which currently works in Scylla is a full index of a frozen collection: `CREATE INDEX ON users(full(favs))`.

[2021-01-22 17:07] tomer-sandler opened #683 "Issue in page Update Topology Strategy From Simple to Network"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/update-topology-strategy-from-simple-to-network

### Problem
Doc has several mistakes which can get the user into very dangeours situations...
And since we see customers and users going with the "wrong" replication strategy (e.g. simple strategy) often, we need this doc to be ROCK SOLI

[2021-01-24 07:53] tzach commented on #638
@elcallio can you please advise?

[2021-01-25 08:42] elcallio commented on #638
The randfile stuff is openssl config/behaviour difference between releases and linux distributions (and versions of distributions). He is right though, and I would remove any mention of it, since most new Linuxes should be fine to use the config without this param.  In fact, this is removed from our own scripts since quite some time ago.

[2021-01-25 09:42] tzach commented on #640
@PeterCorless seed node still play part in the init process, can not be removed

[2021-01-25 09:42] #640 closed

[2021-01-25 17:58] nyh opened #684 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem

There is a section labeled "Enable Secondary Indexes as an Experimental Feature (Scylla 2.1 and later)" which is completely outdated. If anything, it should be named "Between Scylla 2.1 and Scylla 3.0", but I think we should drop this section entirely. The introductory sentence in this p

[2021-01-25 18:03] nyh opened #685 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem

This page doesn't seem to contain much information. It doesn't even say how to create a secondary index.

###  Suggest a fix

We have https://docs.scylladb.com/getting-started/secondary_indexes/ -  but jumps right to the syntax without explaining what these indexes do. I think we should

[2021-01-25 18:56] tzach commented on #684
https://github.com/scylladb/scylla-doc-issues/issues/685

[2021-01-25 23:07] nyh opened #686 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem

Neither of the two documents which I found on secondary-index mention that they are updated **asynchronously**:

1. An successful update to a table guarantees that the index will _eventually_ be updated, but does not necessarily wait for the index update. (P.S.: I think for *local indexe

[2021-01-26 10:28] nyh commented on #641
This issue is still as relevant as it was when I created it...

[2021-01-26 13:15] lsnovich opened #687 "Issue in page Contributing to Scylla : lacks information about scylla docs"
I would like to report an issue in page https://docs.scylladb.com//contribute

### Problem
Add Scylla Docs contribution information

###  Suggest a fix

[2021-01-26 14:16] tzach commented on #687
The problem is current close source, so contribution is internal only

[2021-01-26 14:55] lauranovich commented on #687
I filed the issue - so this is fine. thanks!
We need to have a central document on contributing to Scylla Docs
and should be part of the  https://docs.scylladb.com//contribute page

[2021-01-26 20:31] tzach commented on #322
Still valid

[2021-01-26 20:32] tzach commented on #687
Aha! its a case of double identity!

[2021-01-27 07:46] nyh commented on #686
As part of documenting the fact that index build is done in the background, we should explain how to know when it completes. We can say the index is implemented as a materialized view, and that we have a table tracking the status of view builds:
[code]

[2021-01-27 07:56] nyh commented on #685
@lauranovich @tzach I opened three issues on the secondary index documentation, and I want to help doing this, but before I can start will need to help from you to: 1. Understand why we have two documents on the same thing (see links above), is this deliberate or an historical accident, and whether we'd like to merge them or what. I cannot start making small improvements before I understand the ov

[2021-01-27 08:15] nyh commented on #685
I want to clarify something about my question about the two separate documents. Normally I wouldn't necessarily mind having two documents on the same thing - with two different focuses or lengths, for different purposes. But two things bother me. First, it's not clear to me what this focus is - it just seems that one (or both) of them is just incomplete. Second - and more importantly - I don't bel

[2021-01-27 18:16] lauranovich commented on #685
@nyh,
the page https://docs.scylladb.com/getting-started/secondary_indexes/ is part of the CQL reference guide. It is not supposed to have an overview or a lot of general details.
the page https://docs.scylladb.com/using-scylla/secondary-indexes/ contains the general overview information.

It may appear to be disconnected, and it can definitely use some help, but understand that each document serv

[2021-01-27 18:18] lauranovich commented on #685
Each page should be linked to the other and each one should have a statement at the top which describes the content of the page. @nyh if you want me to send the PR for this, that is fine. If there are any other issues please let me know

[2021-01-30 20:52] #633 closed

[2021-01-31 07:39] tzach commented on #633
@siang305 monitoring doc moved to https://github.com/scylladb/scylla-monitoring
If this issue is still valid, please reopen it at the new monitoring doc project

[2021-01-31 07:54] tzach commented on #645
Still valid

[2021-01-31 12:25] nyh opened #688 "Issue in page Scylla Read Repair"
I would like to report an issue in page https://docs.scylladb.com//architecture/anti-entropy/read-repair

This document has a section on **probabilistic read repair**, which describes `read_repair_chance` or `dclocal_read_repair_chance`. However, this section neglects to mention the defaults of these parameters. Since recently (commit ed0d00f51eda18829aea5bb146e6985a6fb2dc12) the defaults are **0*

[2021-01-31 17:01] slivne opened #689 "Issue in page Upgrade Guide - Scylla 4.2 to 4.3 for Red Hat Enterprise Linux 7/8 or CentOS 7/8"
I would like to report an issue in page https://docs.scylladb.com//upgrade/upgrade-opensource/upgrade-guide-from-4.2-to-4.3/upgrade-guide-from-4.2-to-4.3-rpm

### Problem
Users are failing to upgrade if they have large reverse queries

###  Suggest a fix

OSS User provided the following input

Hi Adam, thanks for the link. Yes, we followed those instructions when we upgraded to version 4.0 I belie

[2021-01-31 17:01] slivne commented on #689
the same is true for all upgrade to 4.3

[2021-02-02 15:03] nyh opened #690 "Issue in page nodetool decommission"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/decommission

### Problem

The statement "**streaming its data to other nodes in the cluster.**" is very ambigous - does the decomissioned node stream its data to _all_ other replicas, or just to "some" possibly just to one?

The older Datastax document https://docs.datastax.com/en/dse/5.1/dse-adm

[2021-02-02 15:37] nyh commented on #690
@gleb-cloudius explained to me that Scylla also sends to one node, and also that this behavior is **not** important for the "remove node" page as I thought - the "nodetool decomission" operations just sends one value from one replica (the node going down) to a new replica, and the number of up-to-date values in the cluster doesn't change at all, so quorum reads continue to work as expected.

So an

[2021-02-02 16:21] lauranovich opened #691 "Issue in page Contributing to Scylla"
I would like to report an issue in page https://docs.scylladb.com//contribute

### Problem
http://scylla.docs.scylladb.com/master/contribute/index.html conflicts with http://docs.scylladb.com/contribute/
###  Suggest a fix
one doc on http://scylla.docs.scylladb.com/master/contribute/index.html link from http://docs.scylladb.com/contribute/

[2021-02-03 08:27] lauranovich commented on #682
thanks Piotr! is this the only item which needs to be changed??

[2021-02-03 13:25] tzach opened #692 "Issue in page Administration Guide"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/admin

### Problem
The diagram is out of date. We have a new version of it here:
https://docs.scylladb.com/operating-scylla/security/security_checklist/

[2021-02-05 10:53] sumitmenaria opened #693 "Issue in page Extract Cluster Metrics in Prometheus format"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/cloud-prom-proxy

### Problem

The URL to in the section below

    The following documents should be consulted:

    Scylla Monitoring Support Matrix

points to https://docs.scylladb.com/operating-scylla/monitoring/matrix/ and gets redirected to http://monitoring.docs.scylladb.com/master/matrix which does

[2021-02-06 19:16] tzach commented on #693
Thanks for reporting
@lauranovich lets run a recurrent full link check test to capture such use cases.

[2021-02-09 08:27] juliuszaromskis opened #694 "Issue in page Create a Scylla Cluster - Single Data Center (DC)"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/create_cluster

### Problem
192.168.1.201

cluster_name: 'Scylla_cluster_demo'
seeds: "192.168.1.201"
endpoint_snitch: GossipingPropertyFileSnitch
rpc_address: "192.168.1.201"
listen_address: "192.168.1.201"

causes error:
Startup failed: std::runtime_error (sorted_tokens is empty in f

[2021-02-09 08:36] juliuszaromskis commented on #694
Actually caused by bad listen_interface configuration. Closing.

[2021-02-09 08:36] #694 closed

[2021-02-13 18:25] tzach commented on #144
@lauranovich please reopen in the manager project

[2021-02-14 08:24] lauranovich commented on #144
https://github.com/scylladb/scylla-manager/pull/2398 it was and then we determined we didn't need it.

So I am closing this and if we feel we need one, we can open it again on manager

[2021-02-14 08:24] #144 closed

[2021-02-14 08:26] lauranovich commented on #2
@penberg is there an actionable item here for docs? If yes, what needs to be changed?
Can you provide a patch?
Please let me know so we can close this issue.
Thanks!

[2021-02-16 14:04] lauranovich commented on #317
@tzach is this still an issue?

[2021-02-16 19:23] tzach commented on #317
Not relevant anymore

[2021-02-16 19:23] #317 closed

[2021-02-17 02:20] dyasny commented on #342
bump

[2021-02-17 07:07] slivne opened #695 "Issue in page Scylla Drivers Matrix"
I would like to report an issue in page https://docs.scylladb.com//getting-started/scylla_drivers

### Problem

No mention of the CDC integration libraries

###  Suggest a fix

Add a reference to

scylla cdc java
https://github.com/scylladb/scylla-cdc-java

scylla cdc go
https://github.com/scylladb/scylla-cdc-go

@haaawk fyi

[2021-02-17 07:09] slivne opened #696 "Issue in page Scylla Drivers Matrix"
I would like to report an issue in page https://docs.scylladb.com//getting-started/scylla_drivers

### Problem
No mention of of the spark migrator

###  Suggest a fix

https://github.com/scylladb/scylla-migrator

@tarzanek - they may need your help here

[2021-02-17 07:11] slivne opened #697 "Issue in page Scylla Drivers Matrix"
I would like to report an issue in page https://docs.scylladb.com//getting-started/scylla_drivers

### Problem

No mention of the Kafka Connectors

sink connector https://github.com/scylladb/kafka-connect-scylladb

source connector https://github.com/scylladb/scylla-cdc-java/tree/master/scylla-cdc-kafka-connect

###  Suggest a fix

@haaawk they may need help

[2021-02-17 15:14] tzach commented on #604
@lauranovich can we close?

[2021-02-17 15:16] lauranovich commented on #604
yes closed with #3224

[2021-02-17 15:16] #604 closed

[2021-02-18 11:41] nyh opened #698 "https://www.scylladb.com/open-source-community/ has outdated info on Alternator"
Update the path to the relevant Doc page: https://www.scylladb.com/open-source-community/

#### Problem

The "Project Alternator" section has two links to the wiki on github. Nobody is updating this wiki, and I didn't even realize it exists - I think it was a mistake to create it in the first place and it should now be removed as it includes links to outdated code branches and versions. We should

[2021-02-18 11:56] nyh opened #699 "https://www.scylladb.com/open-source-nosql-database/ should link to Scylla's sourcec ode!"
Update the path to the relevant Doc page: https://www.scylladb.com/open-source-nosql-database/

This is supposedly our front page about the open-source aspect of Scylla, and it's surprisingly hard to find there anything about the... source! The "Download" link gives me bizarre "platform" options, none of them being "download the source". The only way I could find to actually find Scylla's source c

[2021-02-18 12:49] AdamStawarz opened #700 "Issue in page Scylla Snapshots"
I would like to report an issue in page https://docs.scylladb.com//kb/snapshots

### Problem
typo in nodetool eg:

noodetool clearsnapshot -t <snapshot_name> <kespace_name>

###  Suggest a fix

noodetool --> nodetool

[2021-02-18 12:54] #700 closed

[2021-02-18 13:00] tzach commented on #695
There is a reference to CDC connector in the Go driver page
https://docs.scylladb.com/using-scylla/scylla-go-driver/

and the same for Java
https://docs.scylladb.com/using-scylla/scylla-java-driver/

[2021-02-18 13:01] tzach commented on #695
The matrix page should be removed or reformat *without* the release numbers. They are out of date, and better kept in each project.

[2021-02-18 13:06] #693 closed

[2021-02-18 13:11] tzach commented on #692
@lauranovich ping

[2021-02-18 14:11] lauranovich commented on #691
Closing fixed with  scylladb/scylla-docs#3343

[2021-02-18 14:11] #691 closed

[2021-02-18 14:59] lauranovich commented on #696
@tzach and @slivne
Before we add this to the drivers' list
1. It is not a driver, but an integration tool. So it should be listed in the tools or integrations pages
2. Is this tool GA?
3. Can we put the Scylla Theme on it and publish the docs that are there?
Thanks!

[2021-02-18 15:02] lauranovich commented on #697
The Kafka Connector is not a driver, right? It is here https://docs.scylladb.com/using-scylla/integrations/integration-kafka/

[2021-02-18 17:46] sergeleo commented on #699
Got it!

[2021-02-18 18:40] tzach commented on #690
@nyh @gleb-cloudius I assume each **vnode** sends its data to the next replica, so a **node**  decommission stream data to *all* nodes.
I suggest the following addition:

Each vnode of the decommissioned node stream its data to the next (one) vnode in the ring. This guarantees quorum reads continue to work as expected.

[2021-02-18 18:44] tzach commented on #689
@slivne
Please review the following:

Note: when upgrading from 4.2.x to 4.3.x,  config parameters `max_memory_for_unlimited_query` had changed to two parameters:   `max_memory_for_unlimited_query_hard_limit` and `max_memory_for_unlimited_query_soft_limit`.
During the rolling upgrade, once the first node was upgraded to 4.3 and scylla-server started, all the remaining nodes still running 4.2.3 sta

[2021-02-18 19:12] tzach commented on #689
Since https://github.com/scylladb/scylla/issues/8035 is fixed in 4.3.1 I assume we can close this

[2021-02-18 19:16] tzach commented on #683
@tomer-sandler I'm convinced, but I do not understand what the issues are.
@vladzcloudius can you please advise?

[2021-02-18 19:18] tzach commented on #682
@psarna @lauranovich ping

[2021-02-18 19:19] tzach commented on #681
@kbr- @haaawk please advise

[2021-02-18 23:34] jeffwidman commented on #336
still valid...

[2021-02-19 11:30] kbr- commented on #681
On this page: https://docs.scylladb.com/using-scylla/cdc/cdc-intro/
here: https://docs.scylladb.com/using-scylla/cdc/cdc-intro/#cdc-parameters

there's an undocumented parameter, `'delta'`, which has two possible values: `'full'` or `'keys'`.
`'full'` is the default one.
`'keys'` makes the delta rows show only key columns (all other columns are null)

The `'keys'` option is internal in some sense,

[2021-02-21 06:55] #337 closed

[2021-02-21 06:58] #334 closed

[2021-02-21 07:02] tzach commented on #333
Closing, can not find "nodeas" in text any more.

[2021-02-21 07:02] #333 closed

[2021-02-21 07:12] tzach commented on #335
Fixed by https://github.com/scylladb/scylla-docs/commit/7ae271a8aaee542e3bcfc4f5208c9e5b494a82cb

[2021-02-21 07:12] #335 closed

[2021-02-21 07:45] #332 closed

[2021-02-21 08:15] #336 closed

[2021-02-22 08:47] elcallio commented on #681
I say document it. It is the scylla equivalent of other products keys-only CDC. And I even mentioned it as a feature in my super-duper summit presentation.

[2021-02-22 11:37] nyh opened #701 "Issue in page REST"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/rest

### Problem

This page much too short and not at all helpful. User come up with issues like https://github.com/scylladb/scylla/issues/8132 because they have no example of how to use the REST API correctly,

###  Suggest a fix

Add at least one example of a full REST API request with parameters..

[2021-02-22 11:47] tzach commented on #701
@nyh where can I find *working* examples?

[2021-02-22 11:48] tzach commented on #701
BTW, long term solution is publishing  the Swagger format.

[2021-02-22 13:05] racevedoo opened #702 "Issue in page Scylla Go Driver"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/scylla-go-driver

### Problem
The link to cdc github is pointing to the java project, when it should be Go (https://github.com/scylladb/scylla-cdc-go)

###  Suggest a fix
The `Go Library` link should point to https://github.com/scylladb/scylla-cdc-go

![image](https://user-images.githubusercontent.com/5193063/108712307

[2021-02-22 15:18] nyh commented on #701
Let's ask @amnonh, he's the expert. I have a few examples in my own script, but maybe he has better ones. And the person writing this document should test the examples he or she is writing. This document can also reside in scylla.git's docs/ directory, so developers can be the one to write it and test it.

I don't know what you mean by "publishing the Swagger format", do you mean converting the sw

[2021-02-22 15:59] #682 closed

[2021-02-22 16:03] #702 closed

[2021-02-22 16:16] amnonh commented on #701
The reason the RESTFull API is not documented is becasue it's not aim currently for users rather for internal use.
Originally, the idea behind swagger is that we would use it to generate the documentation, the swagger ui (the one you find when you look at http://{ip}:10000/ui actually has example for each command

[2021-02-22 16:56] nyh commented on #701
Then let's change the two-line document about this feature to say that it's an internal feature that should not be used. Or remove it from the documentation entirely... But as it stands, at least one user started to use it (https://github.com/scylladb/scylla/issues/8132) and made wrong guesses on what the API is, and Scylla just silently ignored the wrong parameter format, and when I wanted to poi

[2021-02-22 18:21] amnonh commented on #701
you missunderstood me, the original idea was that when it will be public, we will generate HTML from the swagger and place it in the documentation site, I pointed to scylla ui as an example

[2021-02-22 19:40] #688 closed

[2021-02-23 22:58] vladzcloudius commented on #683
I'm not sure we need a "full rewrite" here - the procedure makes sense in general.
However there are some language imperfections, e.g.
* You don't *have to* change the Snitch and or its configuration but you might.

Also there is one use case that is not covered: RF=<number of nodes>
In this case one doesn't need to either stop the traffic or run any repair.

[2021-02-24 06:52] tzach commented on #683
Thanks @vladzcloudius do you think we should document this?
We usually prefer to keep doc simple to avoid misunderstandings, and only keep one safe path.
Example for such  misunderstanding: RF stratagy on different DCs.

[2021-02-24 13:30] vladzcloudius commented on #683
Well, this doc describes two (2) strategies already, so...
@tzach

[2021-02-24 22:35] PeterCorless opened #703 "Issue in page Scylla Monitoring"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/monitoring/index

### Problem

Says "Scylla Monitoring"

###  Suggest a fix

Should say "Scylla Monitoring Stack"

[2021-02-28 08:30] tzach commented on #699
@sergeleo ping

[2021-02-28 08:30] tzach commented on #698
@sergeleo ping

[2021-02-28 08:31] tzach commented on #692
@lauranovich ping 2

[2021-02-28 11:24] nyh commented on #701
Note also that although having full documentation of all the different operations would be nice, it's not actual the critical part in my opinion, because once you understand the basics of this API you can find the details in http://localhost:10000/ui. In my opinion it is more important (and also easier) to describe the basics of how to use this API and provide examples of how to pass parameters, e

[2021-02-28 15:39] gcarmin opened #704 "Issue in page Administration Guide"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/admin (specifically on https://docs.scylladb.com/operating-scylla/admin/#id6)

### Problem
Networking

Scylla uses the following ports:

missing port 10001.

[2021-03-01 06:42] tzach commented on #704
@gcarmin are you referring to the REST API?
AFAIK, this port is bond to a local IP, so not expose externally

[2021-03-02 18:45] tzach opened #705 "Complication warnings in production-readiness.rst"
[code]

[2021-03-02 20:41] demjened opened #706 "rpm command to check current Scylla Enterprise version is incorrect"
Relevant Doc pages:
- https://docs.scylladb.com/upgrade/upgrade-enterprise/upgrade-guide-from-2019.x.y-to-2019.x.z/upgrade-guide-from-2019.x.y-to-2019.x.z-rpm/#download-and-install-the-new-release
- https://docs.scylladb.com/upgrade/upgrade-enterprise/upgrade-guide-from-2019.1-to-2020.1/upgrade-guide-from-2019.1-to-2020.1-rpm/#download-and-install-the-new-release
- (There may be others)

#### Prob

[2021-03-04 09:22] matoous opened #707 "Documentation for `ALTER TABLE ... DROP ...` with multiple columns"
Update the path to the relevant Doc page: https://docs.scylladb.com/getting-started/ddl/#alter-table-statement

#### Problem

The docs for `ALTER TABLE ... DROP` at https://docs.scylladb.com/getting-started/ddl/#alter-table-statement with multiple columns are a bit misleading. Based on the syntax there, one would assume that dropping multiple columns looks like `ALTER TABLE mykeyspace.mytable DROP

[2021-03-04 11:15] tzach commented on #707
I can validate the doc are misleading, both for Scylla and Apache Cassandra
https://cassandra.apache.org/doc/latest/cql/ddl.html#alter-table

[2021-03-04 11:22] tzach commented on #707
The following match the way Scylla and Cassandra CQL works:

[code]

[2021-03-04 11:57] #705 closed

[2021-03-04 13:43] lauranovich commented on #703
@tzach are we backporting this fix to all versions?

[2021-03-04 16:50] #282 closed

[2021-03-04 19:10] #703 closed

[2021-03-05 15:48] martin-sucha opened #708 "nodetool getendpoints lacks example for composite partition key"
Update the path to the relevant Doc page: https://docs.scylladb.com/operating-scylla/nodetool-commands/getendpoints/

#### Problem

How does the key argument look like if the partition key is composed from multiple columns? Or if it is a UDT?

#### Suggest a fix

Add examples.

[2021-03-08 18:45] #695 closed

[2021-03-08 18:45] #697 closed

[2021-03-11 10:19] lauranovich commented on #696
Fixed with https://github.com/scylladb/scylla-docs/pull/3369. @slivne if this is not fixed in the manner you expected, please re-open the issue.

[2021-03-11 10:19] #696 closed

[2021-03-11 10:20] lauranovich commented on #687
https://docs.google.com/document/d/1sUnqUTerW1EiLAEyMy-rDZumgq_sGEzxBYXhkAB6k1s/edit?usp=sharing draft is here

[2021-03-12 03:00] #338 closed

[2021-03-14 04:23] Vap0r1ze opened #709 "Issue in page Data Manipulation"
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

### Problem
In the grammar breakdown, `select_clause` is defined as `selector [ AS identifier ] ( ',' selector [ AS identifier ] )`

###  Suggest a fix
It should probably be defined as `selector [ AS identifier ] ( ',' selector [ AS identifier ] )*`

[2021-03-14 06:00] tzach commented on #709
@penberg you are the CQL expert please advise

[2021-03-14 07:33] slivne opened #710 "Issue in page Tracing"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/tracing

### Problem
Hot Partition references only tracing

We should add a reference to this top partition - this is the "new tool" to find those partitions.

The documented method for tracing is still relevant and should not be removed

###  Suggest a fix

[2021-03-14 08:04] slivne opened #711 "Issue in page Scylla Go Driver"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/scylla-go-driver

### Problem
the Scylla Go Driver is not hyperlinked to our Go driver - so people landing here will click the Go Driver hyperlink and find the non scylla version

###  Suggest a fix

[2021-03-14 09:07] #341 closed

[2021-03-15 11:18] dorony opened #712 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem
The code examples are missing. For example it says, `Given the following schema:`, but no schema is shown.

[2021-03-15 12:04] tzach commented on #712
Ouch. Thanks for reporting.

[2021-03-15 12:07] tzach commented on #712
Look like the code was pointing to a Github sits which is no longer there

[2021-03-15 19:40] PeterCorless opened #713 "Issue in page Scylla C Driver"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/scylla-cpp-driver

### Problem

Doesn't actually link to the driver.

###  Suggest a fix

Please add a link to the driver:

https://github.com/scylladb/cpp-driver

[2021-03-17 15:17] #707 closed

[2021-03-18 17:58] lauranovich opened #714 "Issue in page Scylla C++ Driver"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/scylla-cpp-driver

### Problem
add link to https://www.scylladb.com/2021/03/18/a-shard-aware-scylla-c-c-driver/
###  Suggest a fix

[2021-03-20 14:56] tzach commented on #652
@lauranovich lets close this and open the same issue in the monitoring project

[2021-03-20 18:37] tzach commented on #663
@lauranovich you can run the BYOA process yourself, and capture the latest permissions from the UI

[2021-03-20 18:46] tzach commented on #664
@lauranovich please add Operator as a HP box, including a K8s icone

[2021-03-21 10:09] #713 closed

[2021-03-21 10:09] #714 closed

[2021-03-21 13:15] tzach commented on #710
@slivne please elaborate and clarify
there is already a section on hot parition
https://docs.scylladb.com/using-scylla/tracing/#catching-a-hot-partition

[2021-03-21 14:21] #664 closed

[2021-03-21 14:24] #711 closed

[2021-03-22 08:58] lauranovich opened #715 "Issue in page Scylla Java Driver"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/scylla-java-driver

### Problem

Also, I noted that in https://docs.scylladb.com/using-scylla/drivers/cql-drivers/scylla-java-driver/
the `documentation` link leads to https://java-driver.docs.scylladb.com/latest/index.html which renders a 404 page

###  Suggest a fix

link to https://java-driver.do

[2021-03-22 18:09] PeterCorless opened #716 "Issue in page Scylla CQL Drivers"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/index

### Problem

Doesn't link to Rust driver.

###  Suggest a fix

Add a page for the Rust driver, including a Github link to here:

https://github.com/scylladb/scylla-rust-driver

[2021-03-24 16:15] tzach commented on #666
@amnonh can you please help with @nyh questions below?

[2021-03-24 18:53] amnonh commented on #666
I think the one that wrote it will be a better candidator to answer the question

[2021-03-24 19:06] tzach commented on #666
The question is on the nodetool operation output and what is means.
I was under the impression it was you

[2021-04-02 02:39] OndroNR opened #717 "Issue in page Scylla and Spark integration"
I would like to report an issue in page https://docs.scylladb.com//kb/scylla-and-spark-integration

### Problem

*Scylla limitations* sections says *Counters are unsupported*. This page predates counters implementation and was not updated.

###  Suggest a fix

Verify counters/spark compatibility and remove limitation note.

[2021-04-02 10:47] simonfrey opened #718 "Issue in page Nodetool clearsnapshot"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/clearsnapshot

### Problem

The following part is wrong:
[code]

###  Suggest a fix

Should be  (note the `-t`)
[code]

Maybe it would be good if you autogenerate the nodetool docs from the nodetool cli documentation to have it 100% in sync

[2021-04-04 07:30] tzach commented on #667
Fixed by https://github.com/scylladb/scylla-docs/commit/aad5a9916fe28011bbca47b42259cd741bf3ddb5

[2021-04-04 07:30] #667 closed

[2021-04-04 07:47] #718 closed

[2021-04-04 07:53] tzach commented on #718
Thanks for reporting.
The issues is fixed, I will look into automate the doc process, its a  good idea.

[2021-04-04 15:22] slivne opened #719 "Issue in page Configure Scylla"
I would like to report an issue in page https://docs.scylladb.com//getting-started/system-configuration

### Problem
Users are not finding information about swap setup

scylla_swap_setup was added and scylla_setup started to support swap configuration

###  Suggest a fix

Add

scylla_swap_setup

description: "Configure swap on host"

[2021-04-04 15:23] slivne opened #720 "Issue in page How to Set up a Swap Space Using a File"
I would like to report an issue in page https://docs.scylladb.com//kb/set-up-swap

### Problem
There is a script that we provide that does swap setup - users should first attempt to use it and if they can't switch to manual setup

###  Suggest a fix

Add reference to scylla_swap_setup

[2021-04-05 07:08] tzach commented on #720
@syuu1228 can you please help with scylla_swap_setup reference?

[2021-04-05 17:53] lauranovich opened #721 "Issue in page Benchmarking Scylla"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/benchmarking-scylla

### Problem
Add link to https://docs.scylladb.com/operating-scylla/procedures/tips/benchmark-tips/
###  Suggest a fix

[2021-04-06 05:21] tzach commented on #669
Fixed in the new repo
https://github.com/scylladb/scylla-monitoring

[2021-04-06 05:21] #669 closed

[2021-04-06 05:47] #188 closed

[2021-04-07 06:14] tzach opened #722 "Issue in page Scylla Java Driver: link to Java driver documentation is broken"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/scylla-java-driver

[2021-04-08 06:42] tzach commented on #671
Thanks @zooptwopointone
The doc currently state
"auto_bootstrap - By default, this parameter is set to true, it allow new nodes to migrate data to themselves automatically."
does this answer the question on why it should be true?

[2021-04-08 08:15] #409 closed

[2021-04-08 08:23] tzach commented on #720
@syuu1228 ping

[2021-04-08 08:24] tzach commented on #717
Ouch this is a very old page.
Thanks for pointing us to this.

[2021-04-08 08:27] #717 closed

[2021-04-08 08:35] tzach commented on #716
Doc: https://cvybhu.github.io/scyllabook/index.html
Crates: https://crates.io/crates/scylla

[2021-04-08 08:36] tzach commented on #715
Fix with https://github.com/scylladb/scylla-docs/pull/3427

[2021-04-08 08:36] #715 closed

[2021-04-08 08:38] tzach commented on #712
Fixed

[2021-04-08 08:38] #712 closed

[2021-04-08 08:38] tzach commented on #710
@slivne ?

[2021-04-08 09:32] tzach commented on #709
Apache Cassandra use the same syntax https://cassandra.apache.org/doc/latest/cql/dml.html?highlight=select_clause

[2021-04-08 10:04] tarzanek commented on #709
a precedent for syntax is
ordering_clause  ::=  column_name [ ASC | DESC ] ( ',' column_name [ ASC | DESC ] )*

[2021-04-08 11:35] #709 closed

[2021-04-09 03:16] Vap0r1ze commented on #709
Yes, I believe this is still an issue

[2021-04-09 23:16] PeterCorless commented on #672
Alternatively, can we remove the bulk of old content, but rather than just delete the whole page, point to some more recent extant content?

- [Best Practices for Benchmarking Scylla](https://www.scylladb.com/2021/03/04/best-practices-for-benchmarking-scylla/)
- [How to Test and Benchmark Database Clusters](https://www.scylladb.com/2020/11/04/how-to-test-and-benchmark-database-clusters/)

[2021-04-09 23:25] PeterCorless commented on #278
Hey @lauranovich - Looks like you can just add this to the list on this page, under "Third Party Drivers", yes?

https://docs.scylladb.com/using-scylla/drivers/cql-drivers/

I won't add them to the new [Drivers page](https://www.scylladb.com/product/scylla-drivers/), since they aren't our code.

-Pete.

[2021-04-09 23:28] PeterCorless commented on #703
The title of the page still only says "Scylla Monitoring"

https://docs.scylladb.com//operating-scylla/monitoring/index

[2021-04-11 06:13] tzach commented on #628
This is relevant till we have repair base operation

[2021-04-13 12:10] tarzanek opened #723 "Issue in page Scylla Monitoring"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/monitoring/index

### Problem
link
Monitoring Support Matrix
doesn't work, says:
https://monitoring.docs.scylladb.com/master/matrix.html
error 404

###  Suggest a fix
?
https://monitoring.docs.scylladb.com/stable/matrix.html
seems to work ...

[2021-04-14 14:07] tzach commented on #723
3.7 change the location to https://monitoring.docs.scylladb.com/scylla-monitoring-3.7.0/reference/matrix.html

I think its better to remove most of the data and link from this page and just link to https://monitoring.docs.scylladb.com

[2021-04-14 14:10] tzach commented on #723
https://github.com/scylladb/scylla-docs/issues/3438

[2021-04-15 23:49] cjc-data-clymer opened #724 "Issue in page Basic operations in CDC"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/cdc/cdc-basic-operations

### Problem

Example 1 for the "Partition deletion" section appears to be missing the second INSERT statement.

###  Suggest a fix

Add the following to Example 1's SQL code:

`INSERT INTO ks.t (pk,ck,v) VALUES (0,1,1);`

![missing_insert_in_partition_deletion_example](https://user-images.gith

[2021-04-16 13:00] tzach commented on #630
The operator docs move to the project
https://operator.docs.scylladb.com/stable/

@gcarmin is this is still relevant, can you please move the issue to
https://github.com/scylladb/scylla-operator ?

[2021-04-16 13:09] tzach commented on #629
@lauranovich is this still valid?

[2021-04-18 07:45] #724 closed

[2021-04-21 06:31] lauranovich commented on #716
Fixed with https://github.com/scylladb/scylla-docs/pull/3436
@PeterCorless - if this is not the case, feel free to reopen the issue

[2021-04-21 06:31] #716 closed

[2021-04-21 06:42] lauranovich commented on #722
Fixed with https://github.com/scylladb/scylla-docs/pull/3427, Thanks for reporting @tzach.
If the issue still persists, please feel free to re-open.

[2021-04-21 07:49] lauranovich commented on #710
@tzach - what should be done here

[2021-04-21 07:50] #723 closed

[2021-04-21 07:51] #672 closed

[2021-04-21 07:51] #721 closed

[2021-04-21 08:51] lauranovich commented on #278
Yup agreed, let's keep 3rd party recommendations out of the corporate site.

[2021-04-21 08:55] lauranovich commented on #722
closing

[2021-04-21 08:55] #722 closed

[2021-04-21 09:05] #678 closed

[2021-04-21 09:05] lauranovich commented on #678
Thank you for the feedback @Giangblackk!

[2021-04-21 09:06] lauranovich commented on #360
@tzach - please assign to someone to clarify

[2021-04-21 09:07] lauranovich commented on #687
Closing - Fixed in Scylla Theme

[2021-04-21 09:07] #687 closed

[2021-04-21 09:09] lauranovich commented on #2
@tzach - I am not sure what needs to be done here. Please advise

[2021-04-21 09:10] lauranovich commented on #58
closing - fixed with https://github.com/scylladb/scylla-monitoring/pull/1188. Thank you for your feedback! If the issue still persists, please re-open.

[2021-04-21 09:10] #58 closed

[2021-04-21 09:16] lauranovich commented on #342
@tomer-sandler can you give me a bit more direction here
what needs to be done?

[2021-04-21 09:19] lauranovich commented on #354
The issue is no longer there so I am closing...
Thank you for the input!

[2021-04-21 09:19] #354 closed

[2021-04-21 09:21] lauranovich commented on #670
@vladzcloudius can you read the fix - and perhaps answer the questions here?

[2021-04-21 09:23] lauranovich commented on #603
Thank you for reporting the issue @classbasics !!
FIxed with https://github.com/scylladb/scylla-monitoring/pull/1188
Closing...
If the issue still persists, please reopen.

[2021-04-21 09:23] #603 closed

[2021-04-21 09:23] lauranovich commented on #601
@amnonh ping

[2021-04-21 09:24] lauranovich commented on #600
Thank you for reporting the issue @classbasics !!
FIxed with https://github.com/scylladb/scylla-monitoring/pull/1188
Closing...
If the issue still persists, please reopen.

[2021-04-21 09:24] #600 closed

[2021-04-21 09:25] lauranovich commented on #598
@classbasics - does this answer your question?

[2021-04-21 09:36] lauranovich commented on #601
@classbasics - does this answer your question? I am closing this issue. If you feel it should be re-opened, please do so.

[2021-04-21 09:36] #601 closed

[2021-04-21 09:37] lauranovich commented on #569
@mmatczuk - can you please provide instructions for Scylla OSS?

[2021-04-21 09:45] mmatczuk commented on #569
This issue is no longer relevant I rewrote the whole thing some time ago. See https://manager.docs.scylladb.com/branch-2.3/install-scylla-manager.html#configure-storage

[2021-04-21 09:45] #569 closed

[2021-04-21 10:02] lauranovich commented on #569
@classbasics - if you have any further questions, please reach out. Thank you for the feedback!

[2021-04-21 10:03] lauranovich commented on #528
Fixed with https://github.com/scylladb/scylla-monitoring/pull/1188
Closing...
Thanks for the feedback @classbasics! If this issue still persists, please reopen!

[2021-04-21 10:03] #528 closed

[2021-04-21 10:04] lauranovich commented on #527
As there is nothing to fix
Closing...
Thanks for the feedback @classbasics! If you feel otherwise, please reopen!

[2021-04-21 10:04] #527 closed

[2021-04-21 10:04] lauranovich commented on #526
Fixed with https://github.com/scylladb/scylla-monitoring/pull/1188
Closing...
Thanks for the feedback @classbasics! If this issue still persists, please reopen!

[2021-04-21 10:04] #526 closed

[2021-04-21 10:04] lauranovich commented on #525
Fixed with https://github.com/scylladb/scylla-monitoring/pull/1188
Closing...
Thanks for the feedback @classbasics! If this issue still persists, please reopen!

[2021-04-21 10:04] #525 closed

[2021-04-21 10:06] lauranovich commented on #524
As this is not a doc issue, closing
@classbasics - if you feel this is a monitoring stack issue, please file one.
Thanks for the feedback!

[2021-04-21 10:06] #524 closed

[2021-04-21 10:08] lauranovich commented on #568
Issue no longer exists, closing
Thank you for reporting @classbasics!

[2021-04-21 10:08] #568 closed

[2021-04-21 12:01] #512 closed

[2021-04-21 12:04] lauranovich commented on #513
@vladzcloudius   - can you please give me the missing information?

[2021-04-21 12:06] #511 closed

[2021-04-21 12:11] lauranovich commented on #510
@vladzcloudius please take a look at this KB and tell me if the answer should be changed.

[2021-04-21 12:43] tarzanek opened #725 "Issue in page Adding a New Data Center Into an Existing Scylla Cluster"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/add_dc_to_existing_dc

### Problem

It is recommended to set system_auth replication factor to the number of nodes in each DC, or 5 (the smaller between the two).

###  Suggest a fix

Number 5 is weird(coming out of nowhere), please remove this (and the "smaller" note in () ) from the

[2021-04-21 13:14] #278 closed

[2021-04-21 13:28] AdamStawarz opened #726 "Issue in page Scylla Manager --> 404"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/manager/index

### Problem
Scylla Manager 2.2
https://scylladb.github.io/scylla-manager/2.2/index.html  --> 404 code
###  Suggest a fix

[2021-04-21 14:15] #509 closed

[2021-04-21 14:16] lauranovich commented on #509
Thank you for reporting @classbasics

[2021-04-21 14:26] lauranovich commented on #364
@tzach can you confirm this

[2021-04-21 21:27] tomer-sandler commented on #342
Well, it's what Dan wrote in the Suggest a fix section and the URL he is pointing to. I don't have more to add @lauranovich sorry.

[2021-04-21 21:36] vladzcloudius commented on #670
Sure, @lauranovich.

1) No need to set RF to 0 to the DC we are going to add. More than that - we had a few issues when you do that in the past. So, it's safer to just do nothing because when DC is no mentioned in the KS replication configuration that is equivalent to RF=0 in that DC.
2) I think we have it. Bullet 12.
3) For other system_xx KSes it's less relevant.

[2021-04-21 21:44] vladzcloudius commented on #513
I don't understand the problem, @lauranovich.
@classbasics Could you, please, provide a step-by-step reproducer?

[2021-04-21 21:53] vladzcloudius commented on #510
@classbasics There is a single question
Yes, the answer needs to be changed. One option could be:

"The acknowledgment will be sent to the user when two local replicas respond."

[2021-04-21 22:45] classbasics commented on #513
This was a long time ago.
I think it refers to the database listing snapshots that have already been removed manually.
I have not looked at Scylladb for a long time, so just close this issue.

[2021-04-22 07:31] #362 closed

[2021-04-22 07:31] #368 closed

[2021-04-22 07:31] #477 closed

[2021-04-22 07:34] lauranovich commented on #345
@tzach what is the status?

[2021-04-22 07:35] lauranovich commented on #608
As there doesn't seem to be an issue, I am closing this issue.
Thank you for reporting @classbasics ! If you feel this issue still persists, please re-open!

[2021-04-22 07:37] lauranovich commented on #550
Closing as it is not a doc issue - thank you for reporting @classbasics!

[2021-04-22 07:37] #550 closed

[2021-04-22 07:38] lauranovich commented on #367
This is no longer an issue, closing. Thank you for reporting @classbasics If the issue still persists please re-open!

[2021-04-22 07:38] #367 closed

[2021-04-22 07:43] lauranovich commented on #383
The exercise shows changing the rack location - there is no error here.  Closing

[2021-04-22 07:43] #383 closed

[2021-04-22 07:46] lauranovich commented on #381
What is described here is an enhancement of Scylla not docs.
@tzach  I am closing the issue
@classbasics if you want to send a Scylla issue to the Scylla project, please do so.

[2021-04-22 07:46] #381 closed

[2021-04-22 07:49] lauranovich commented on #378
fixed, removed and no longer an issue. Thank you for reporting!

[2021-04-22 07:49] #378 closed

[2021-04-22 07:59] #376 closed

[2021-04-22 07:59] #377 closed

[2021-04-22 07:59] #379 closed

[2021-04-22 07:59] #380 closed

[2021-04-22 07:59] #382 closed

[2021-04-22 08:00] lauranovich commented on #384
Fixed, Closing

[2021-04-22 08:00] #384 closed

[2021-04-22 08:38] #345 closed

[2021-04-22 16:43] tzach opened #727 "Issue in page Consistency Level Console Demo"
I would like to report an issue in page https://docs.scylladb.com//architecture/console_CL_full_demo

### Problem
Rendering of glossary breaks
Consistency Level (CL)<Consistency Level (CL)>

![image](https://user-images.githubusercontent.com/170200/115752628-f4adea80-a3a2-11eb-9113-8429ba258eea.png)

###  Suggest a fix

[2021-04-22 18:17] lauranovich opened #728 "Issue in page Scylla Manager link to new tree gives 404"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/manager/index

### Problem
clicking Scylla Manager 2.2 results in 404

###  Suggest a fix

[2021-04-22 18:49] lauranovich commented on #728
This  issue is being caused by the custom changes done in the previous branches. 3 hours ago the branch https://github.com/scylladb/scylla-manager/tree/branch-2.2-with-pr-2606 was created triggering the previous github actions instructions.

[2021-04-22 18:52] lauranovich commented on #728
Also from @dgarcia360
If someone can re-run this action, https://github.com/scylladb/scylla-manager/actions/runs/766826063 the page should render as expected.

[2021-04-22 18:54] lauranovich commented on #728
problem is on the scylla manager repo  issue https://github.com/scylladb/scylla-manager/issues/2607 closing this issue

[2021-04-22 18:54] #728 closed

[2021-04-23 07:12] AdamStawarz commented on #726
What about docs for 2.3 ?

[2021-04-24 17:40] lauranovich opened #729 "Issue in page Docs Site"
I would like to report an issue in page https://docs.scylladb.com//index

### Problem
scylla University live banner needs to be removed

###  Suggest a fix

[2021-04-24 17:41] lauranovich commented on #729
@dgarcia360 - please address this ASAP

[2021-04-24 17:45] lauranovich commented on #726
https://scylladb.github.io/scylla-manager/2.2/index.html
is still showing 404 because it needs to be changed to
https://manager.docs.scylladb.com/branch-2.2/index.html
redirect is going to the wrong location as well

[2021-04-25 05:36] tzach commented on #680
This is still valid

[2021-04-25 05:49] lauranovich commented on #729
fixed. closing

[2021-04-25 05:49] #729 closed

[2021-04-25 07:47] tzach commented on #676
@lauranovich I think you already fix this
If so, please add commit refernce and close

[2021-04-25 08:03] #726 closed

[2021-04-25 08:13] lauranovich commented on #676
Fixed with https://github.com/scylladb/scylla-docs/pull/3316, closing

[2021-04-25 08:13] #676 closed

[2021-04-26 16:21] rghv404 opened #730 "Issue in page Data model for a social reader application"
I would like to report an issue in page https://docs.scylladb.com//kb/social-reader

### Problem
`rating_by_date` table defintion is missing in this page.
###  Suggest a fix
Including definition for the above table with `rating_by_subject` and `rating_by_object` should be good enough.

[2021-04-26 16:22] nyh opened #731 "Be more explicit what "CQL 3.3.1" means and why we mention it."
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

### Problem

The page begins with the large-type text "This reference covers CQL specification version 3.3.1"
This text is confusing an scary - why am I being told this? Is "CQL 3.3.1" some ancient version or the current version? If it's an ancient version, is there a newer page on the current CQL version? Anyw

[2021-04-26 16:25] nyh opened #732 "There is no operator !="
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

### Problem
Our SELECT documentation mentions a `!=` operator.

However,  as @dekimir noticed (and I tested he wasn't kidding me!), neither us nor Cassandra support the != operator. In Cassandra's documentation, e.g.,  https://docs.datastax.com/en/cql-oss/3.3/cql/cql_reference/cqlSelect.html - it's not even lis

[2021-04-27 06:26] #732 closed

[2021-04-27 06:58] nyh commented on #732
It's curious that the Datastax document didn't list this operator, but the open-source one did. I'll try to see if I can report an issue on that open-source document.

[2021-04-27 07:14] nyh commented on #732
I opened https://issues.apache.org/jira/browse/CASSANDRA-16635 for Cassandra's document.

[2021-04-27 17:59] nyh opened #733 "Missing semantics of operators in WHERE clause"
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

The operators listed for WHERE clauses (=, <, <= etc.) are all fairly self-explanatory for any modern computer user, but nevertheless there are some non-obvious points of how these operators work, which should be discussed somewhere - in this document or in some other document and linked from this one. Here are

[2021-04-28 16:46] dekimir opened #734 "Materialized views cannot use operator !="
https://docs.scylladb.com/getting-started/mv/

#### Problem
The MV page claims that columns "can also be restricted by relational operations (=, !=, >, <)".  But as #732 mentioned, the != operator isn't supported:
[code]

#### Suggest a fix
Omit `!=` from the parenthesized list.

[2021-04-30 22:41] fee-mendes opened #735 "Issue in page Scylla Snapshots"
I would like to report an issue in page https://docs.scylladb.com//kb/snapshots

### Problem
There are 4 occurrences of `noodetool` command, which is clearly a typo. Such as:

    Run noodetool clearsnapshot

###  Suggest a fix
Update all occurrences to `nodetool`.

[2021-05-02 07:59] #735 closed

[2021-05-03 08:20] nyh opened #736 "The phrase "Auto Expand" is confusing"
I would like to report an issue in page https://docs.scylladb.com//getting-started/ddl

The term "Auto-Expand Replication Factor" in  https://docs.scylladb.com/getting-started/ddl/#auto-expand-replication-factor is, I think, misleading and confusing, and should not be used. Note that although Cassandra's documentation uses this phrase too (https://cassandra.apache.org/doc/latest/cql/ddl.html#netwo

[2021-05-03 09:01] lauranovich commented on #736
The bigger problem I have is the example doesn't show the auto-expand option in the query.
Can you @nyh supply a query with this option? Is it an option? If not, we should change this as well.

So what we need is
1. A better example
2. A better definition.

[2021-05-03 09:03] lauranovich commented on #730
Thank you for reporting! We're working on your issue!

[2021-05-03 09:16] nyh commented on #736
That's exactly my point - there is no "auto-expand option" :-)
I'll try to explain:
In the old days, `NetworkTopologyStrategy` required you to specify an individual a separate replication factor for each data center. This was annoying for users - you need to remember which dc names exist, and at the end you would usually just give the same replication factor for all dcs. So a shortcut was added -

[2021-05-03 09:52] #692 closed

[2021-05-03 12:14] dkropachev opened #737 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem

Article says that you need to create a table:

[code]

Than it goes that you need to insert rows there:

[code]

As you can see, table has `meters` field, while insert statment addresses `height` field.

###  Suggest a fix

[2021-05-03 12:18] #734 closed

[2021-05-03 12:19] #684 closed

[2021-05-03 12:38] tzach commented on #737
Thanks @dkropachev
Can you please send a quick PR to fix this?

[2021-05-03 12:39] dkropachev opened #738 "Issue in page Data Types"
I would like to report an issue in page https://docs.scylladb.com//getting-started/types

### Problem
Article is saying:

[code]

And

[code]

Which is not true, the following scylla responds on 3.2.0, 4.1.0 and 4.4.0  :

[code]

###  Suggest a fix

[2021-05-03 12:46] dkropachev commented on #737
https://github.com/scylladb/scylla-docs/pull/3478

[2021-05-03 13:13] nyh commented on #734
By the way, isn't it strange that this list doesn't include <=, >=? Is it an oversight or for some reason those aren't supported either?

[2021-05-04 13:25] nyh commented on #736
Another interesting fact if anyone is reading this and interested in the details:

It turns out that not only isn't "replication_factor: 3" _expanded_ when another DC is added, the string `replication_factor: 3` isn't even saved anywhere. The `NetworkTopologyStrategy` implementation never even sees this `replication_factor: 3` string. Instead, the code which parses the CQL statement (see `prepare_

[2021-05-04 13:35] tzach commented on #736
I suggest "Extract DCs", or "Auto Extract DCs" as a replacement for "Auto Expand"

[2021-05-04 13:53] nyh commented on #736
Maybe, but I'm not even sure it needs any name. We can say this shortcut exists when you want to set all the DCs to the same without giving it a name or making it a separate section with a title.

In addition to the name, I want to remind you (maybe this needs a separate issue?) that  there are a few finer points about how this shortcut-whatever-its-name-is works and our document doesn't mention (

[2021-05-04 13:59] racevedoo opened #739 "Issue in page Compaction"
I would like to report an issue in page https://docs.scylladb.com//getting-started/compaction

### Problem
The documentation for `min_sstable_size` in the `Size Tiered Compaction Strategy (STCS)` is wrong. It states that the value is in megabytes, when it should be in bytes, as seen in the code: https://github.com/scylladb/scylla/blob/master/sstables/size_tiered_compaction_strategy.hh#L33

###  Su

[2021-05-04 19:25] saintbiz opened #740 "Issue in page System Requirements"
Scylla requires modern Intel CPUs that support the SSE4.2 instruction set and will not boot without it.

[2021-05-04 19:37] tzach opened #741 "Broken link from GCP Download Page"
Update the path to the relevant Doc page: https://www.scylladb.com/download/?platform=gcp#open-source

#### Problem
Broken link from "run scylla_io_setup"

#### Suggest a fix
Link to https://docs.scylladb.com/operating-scylla/procedures/tips/benchmark-tips/#run-scylla-setup

[2021-05-04 19:37] tzach commented on #741
reported by @saintbiz

[2021-05-04 19:41] tzach commented on #741
Fixed.
@saintbiz Thanks for reporting

[2021-05-04 19:41] #741 closed

[2021-05-04 19:46] tzach opened #742 "Issue in page System Requirements - GCP"
I would like to report an issue in page https://docs.scylladb.com//getting-started/system-requirements

### Problem
- Add N2 instances
- Update The Storage values to 9GB to match https://cloud.google.com/compute/docs/disks/local-ssd

Reported by @saintbiz

[2021-05-05 09:42] omrivardi opened #743 "Issue in page Scylla Cloud Best Practices"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/scylla-best-practices

### Problem

Hi,
There are a few which I would like to comments on:

Not relevant, you can choose between RF 3 / 4 /  5

We ask it anyways as part of the wizard, the user won't be able to use BYOA without stating he did so.

What does that mean? We can simply change and IP and the cus

[2021-05-05 18:46] tzach commented on #743
+1

- We need to use the term BYOA, not "deployed in your AWS account"
- Why is it a problem to mention it here as well?

Agree we can improve the wording.
The issue is real (and rare): over time, a cluster may replace all of its nodes (and IPs). As long as an application (driver) is alive, this is not an issue: while the driver is connected to the cluster, it learns the new topology (and new IPs)

[2021-05-06 05:52] omrivardi commented on #743
for BYOA - just seems to me as some procedure you have to follow, not a best practice you should implement or not.

[2021-05-06 05:58] tzach opened #744 "Issue in page OS Support by Platform and Version - add Scylla 4.4, 4.5 and 2021.1"
I would like to report an issue in page https://docs.scylladb.com//getting-started/os-support

### Problem
Our of date

###  Suggest a fix
4.4, 4.5 and enterprise 2021.1 are the same as 4.3

Also Manager can move to the manager repo

[2021-05-06 06:04] tzach commented on #743
Fair enough.
Feel free to send a PR

[2021-05-06 06:07] lauranovich commented on #744
Is there any additional support for these versions or are they the same as 4.3?

[2021-05-06 06:08] tzach commented on #638
@lauranovich ping

[2021-05-06 07:07] tzach opened #745 "Issue in page Contribute to Scylla"
https://docs.scylladb.com/contribute/ page only have some random info (email) and a link to https://scylla.docs.scylladb.com/master/contribute for more info

I suggest to simply redirect https://docs.scylladb.com/contribute/ to https://scylla.docs.scylladb.com/master/contribute

[2021-05-09 06:38] #679 closed

[2021-05-09 06:39] lauranovich commented on #679
Thank you for reporting, this issue has been fixed!

[2021-05-09 07:34] #674 closed

[2021-05-09 07:40] #727 closed

[2021-05-09 10:15] lauranovich commented on #439
@guy9 - can you take a look at the lesson and let me know which one is correct and I'll adjust accordingly?

[2021-05-09 10:57] #428 closed

[2021-05-09 10:57] #429 closed

[2021-05-09 10:57] #430 closed

[2021-05-09 10:57] #431 closed

[2021-05-09 10:57] #433 closed

[2021-05-09 12:53] tzach commented on #641
@lauranovich ping

[2021-05-09 12:57] #440 closed

[2021-05-09 12:57] #444 closed

[2021-05-09 12:57] #447 closed

[2021-05-09 12:57] #448 closed

[2021-05-09 12:57] #441 closed

[2021-05-09 12:57] #443 closed

[2021-05-09 12:57] #445 closed

[2021-05-09 12:57] #446 closed

[2021-05-10 05:39] tzach commented on #473
Fixed by https://github.com/scylladb/scylla-docs/pull/3493

[2021-05-10 05:39] #473 closed

[2021-05-10 06:03] #355 closed

[2021-05-10 06:03] #356 closed

[2021-05-10 07:55] guy9 commented on #439
Thanks @lauranovich I removed that lesson as the video was dated.

[2021-05-10 09:02] #638 closed

[2021-05-10 09:41] AdarBahar opened #746 "Issue in page Scylla Cloud Best Practices"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/scylla-best-practices

### Problem
Cloud UI vs Developer access - we need to separate it
###  Suggest a fix
Using the UI:
While Creating your cluster, make sure you enable VPC peering.
VPC peering is more secure, it will save network costs and it has no downsides.
Enabling this will also allow you future fl

[2021-05-10 11:50] lauranovich commented on #439
Thank you for reporting @classbasics !

[2021-05-10 18:23] tzach opened #747 "Issue in page Upgrade Scylla Enterprise"
I would like to report an issue in page https://docs.scylladb.com//upgrade/upgrade-enterprise/index

### Problem

Release ordering should be from latest on top
Right now, part of it with 2021 on the top, and second with 2018 on top
![image](https://user-images.githubusercontent.com/170200/117706231-b6536080-b1d5-11eb-98ae-05908ead2d51.png)

###  Suggest a fix

2021 should be first

[2021-05-11 06:17] asias opened #748 "Issue in page Remove a Node from a Scylla Cluster (Down Scale)"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/remove_node

### Problem

The doc mentions

nodetool removenode --ignore-dead-nodes <list_of_dead_nodes_to_ignore> <host_id>

But this "ignore-dead-nodes" option is not supported by nodetool yet, tracked by https://github.com/scylladb/scylla-tools-java/issues/251.

###  Suggest a fix

[2021-05-11 08:17] lauranovich opened #749 "Issue in page Scylla Operator"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/scylla-operator/index

### Problem
To get started, read the Scylla Operator Documentation link goes to https://scylladb.github.io/scylla-operator/master/index.html

###  Suggest a fix

change to https://operator.docs.scylladb.com/stable/

[2021-05-11 08:22] #749 closed

[2021-05-11 17:36] tarzanek opened #750 "Issue in page Encryption: Data in Transit Client to Node"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/security/client_node_encryption

### Problem

Following the generation of the cqlshrc file, the following files are generated:

###  Suggest a fix

In english it should be more like:

Following the generation of the cqlshrc file, the following files will need to be generated(or reused, they should be the same for w

[2021-05-11 23:28] zooptwopointone commented on #671
No, the documentation should clearly define why you would set it to true or false and possible issues with it in either setting.  I know of the issues I ran into with setting up a new cluster and the suggestions from Support are the same.   it should be simple enough to document why Support would recommend setting it to true/false so people don't have to search again.

[2021-05-11 23:32] zooptwopointone commented on #670
I am not sure what you are saying here.  I am making suggestions to make the documentation more clear for people reading it.  If you have a good suggestion to the questions I suggest you take those and clarify the documentation to cause less confusion for your users.

[2021-05-12 02:45] vladzcloudius commented on #670
@zooptwopointone
I was saying that setting the replication factor in the new DC to 0 is the confusing part that we want to fix in the document.

@lauranovich FYI.

And I was also saying that we DO have a bullet describing the seeders list updating.

It IS appreciated and we are definitely on the same page with you on that.
We are going to address your comments.

[2021-05-12 04:51] tzach commented on #645
@lauranovich ping

[2021-05-12 05:12] tzach commented on #671
@vladzcloudius please advise

[2021-05-12 13:03] #474 closed

[2021-05-12 13:17] lauranovich commented on #748
@asias remove the whole line or just the flag?

[2021-05-12 14:46] vladzcloudius commented on #671
@tzach, @zooptwopointone is right.
We need to have at least one place in our documentation that has an extensive explanation of the `auto_bootstrap` parameter semantics. It should probably either include or reference the explanation about the consequences of the node's IP being in the seeders list of itself.

Once we have this we can simply reference it everywhere where needed.

[2021-05-12 14:56] vladzcloudius opened #751 "Explanation about `auto_bootstrap` parameter values"
#### Problem
This parameter doesn't have a dedicated section anywhere in our docs.
Let's add it.

#### Suggest a fix
`auto_bootstrap` boolean parameter defines whether the node is going to stream the data it's going to be a replica for when it joins the cluster.

Namely if it's set to `false` it is going to join the cluster *without* streaming.
In such a case it will start serving *null* data if q

[2021-05-12 14:57] vladzcloudius commented on #671
https://github.com/scylladb/scylla-doc-issues/issues/751

@tzach @zooptwopointone FYI

[2021-05-13 06:27] tzach commented on #671
Send PR to #751
Once we merge, I will send a followup for this issue

[2021-05-13 06:29] lauranovich commented on #670
Thanks @vladzcloudius  - I'll take it from here

[2021-05-13 07:41] #748 closed

[2021-05-13 12:43] #747 closed

[2021-05-14 12:11] tzach commented on #746
@AdarBahar please send a PR

[2021-05-14 12:11] tzach commented on #745
@lauranovich ping

[2021-05-16 06:14] #468 closed

[2021-05-17 15:36] #393 closed

[2021-05-17 15:40] #470 closed

[2021-05-18 05:19] tzach opened #752 "Issue in page OS Support by Platform and Version - Recommendation and AMI OS"
I would like to report an issue in page https://docs.scylladb.com//getting-started/os-support

### Problem
Up to 2021.1, the recommended OS, and Scylla AMI/IMage OS is CentOS 7
After 2021.1, the recommended OS, and Scylla AMI/IMage OS is Ubuntu 20

[2021-05-18 05:22] #751 closed

[2021-05-18 07:41] tzach commented on #671
`auto_bootstrap` is now documented here https://docs.scylladb.com/operating-scylla/admin/#manual-bootstrapping
But on a second thought, the best will be to remove `auto_bootstrap` from all procedure unless it is *actually* used.

[2021-05-18 14:42] vladzcloudius commented on #671
If we don't mention it at all and the customer has it there for some reason - it would be bad.
While I do see where you are coming from I think we'd rather keep that note.

[2021-05-18 17:55] #742 closed

[2021-05-19 06:34] tzach commented on #406
@lauranovich when fixing such issue, please take the opportunity to run full grammer check on the page.

[2021-05-23 11:32] lauranovich commented on #476
@tzach please advise - Is this a doc issue?

[2021-05-23 11:43] lauranovich commented on #472
this has been fixed closing

[2021-05-23 11:43] #472 closed

[2021-05-23 12:33] #467 closed

[2021-05-23 12:33] #469 closed

[2021-05-23 12:33] #471 closed

[2021-05-23 12:33] #475 closed

[2021-05-23 12:40] #465 closed

[2021-05-23 12:40] #466 closed

[2021-05-23 18:07] #392 closed

[2021-05-24 09:43] #452 closed

[2021-05-24 09:43] #453 closed

[2021-05-24 09:43] #454 closed

[2021-05-24 09:43] #455 closed

[2021-05-24 09:54] lauranovich commented on #750
According to https://docs.scylladb.com/operating-scylla/security/gen-cqlsh-file/, these files are generated with Cassandra Stress, are they not?

[2021-05-26 07:58] #637 closed

[2021-05-26 12:46] #745 closed

[2021-05-26 12:47] #752 closed

[2021-05-27 09:21] #725 closed

[2021-05-27 15:09] sergeleo opened #753 "Issue in page Kafka Sink Connector Configuration"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/integrations/sink-config

### Problem
https://docs.scylladb.com/using-scylla/integrations/sink-config/#scylladb-consistency-level

Text "The requested consistency level to use when writing to ScyllaDB."

###  Suggest a fix

Replace with

"The requested consistency level to use when writing to Scylla."

ScyllaDB is a co

[2021-05-27 17:23] tzach commented on #753
Thanks @sergeleo
You are more than welcome to send a PR, can be done directly from Github UI

[2021-05-27 18:38] PeterCorless opened #754 "Issue in page Integrate Scylla with Kafka"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/integrations/integration-kafka

### Problem

This page mentions neither the Scylla Consumer (Sink) Connector, nor the Scylla CDC (Producer, Source) Connector.

###  Suggest a fix

Write actual documentation on how to get them working together.

Related Content
- https://www.scylladb.com/2020/02/18/introducing-the-kafka

[2021-05-30 08:49] tzach commented on #357
@lauranovich what do "code appears at top" means?
Please add a screen capture if it helps

[2021-05-30 08:51] tzach opened #755 "Issue in page Get Started with Scylla Cloud - Indentation"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/index

### Problem
![image](https://user-images.githubusercontent.com/170200/120097676-9a8b0c80-c13a-11eb-9323-d20dddff0da1.png)

Indentation of

- Scylla Cloud AWS Account
- BYOA (Bring Your Own Account)
- AWS Outposts

Is off

###  Suggest a fix

[2021-05-30 09:28] #755 closed

[2021-05-30 09:45] #753 closed

[2021-05-30 10:12] #754 closed

[2021-05-30 17:18] #689 closed

[2021-05-31 06:59] #731 closed

[2021-06-01 08:14] lauranovich commented on #750
@tarzanek ping

[2021-06-01 16:09] #739 closed

[2021-06-02 17:53] tzach commented on #681
@kbr- can you please send a PR?

[2021-06-02 18:03] #690 closed

[2021-06-03 07:00] lauranovich commented on #648
@ajankovic ping

[2021-06-03 07:06] #406 closed

[2021-06-03 07:09] lauranovich commented on #560
Issue no longer exits, closing. Thank you for reporting!

[2021-06-03 07:09] #560 closed

[2021-06-03 07:12] lauranovich commented on #513
Thank you @classbasics  for the feedback! If you find any more issues please let us know. Sometimes it is hard to understand if the error is in Scylla or in docs. Feel free to ask on the Scylla User Slack channel or in the user list on Google.

[2021-06-03 07:12] #513 closed

[2021-06-03 07:20] #462 closed

[2021-06-03 07:21] lauranovich commented on #462
Closed. Thank you for reporting!

[2021-06-03 07:22] lauranovich commented on #675
@PeterCorless - sounds like it would be better as a blog. So if you don't mind, I'll close this issue. Feel free to reopen if you disagree

[2021-06-03 07:22] #675 closed

[2021-06-03 07:23] lauranovich commented on #750
@tarzanek ping again ...

[2021-06-03 07:30] lauranovich commented on #645
It is mentioned, the link wasn't there as is in Manager. I'll add it.

[2021-06-03 07:32] #645 closed

[2021-06-03 07:36] lauranovich commented on #730
This is on the page already

CREATE TABLE rating_by_subject (
    subject VARCHAR,
    object VARCHAR,
    score INT,
    date TIMESTAMP,
    PRIMARY KEY (subject, date)
);

CREATE TABLE rating_by_object (
    subject VARCHAR,
    object VARCHAR,
    score INT,
    date TIMESTAMP,
        PRIMARY KEY (object)
    );

I need to add rating_by_date. @tarzanek  what is the rating_by_date  definition?

[2021-06-03 08:18] tzach commented on #730
This page is out of date, and better be removed
We have examples for similar application in Scylla U and https://care-pet.docs.scylladb.com/master/

[2021-06-03 08:20] tzach commented on #710
@lauranovich lets link to nodetool toppartition to the "Catching a Hot Partition" section in this page

[2021-06-03 08:25] tzach commented on #685
@lauranovich I suggest to restructure the feature page https://docs.scylladb.com/using-scylla/secondary-indexes/ :+1:
- some motivation
- example, with link to the syntax
- How it works (last)

The syntax page https://docs.scylladb.com/getting-started/secondary_indexes/ should link to the feature page

[2021-06-03 08:30] tzach commented on #648
The problem is this document is titled for both  patch and minor release upgrades, but the content assume its a patch release, so no new repo step.

[2021-06-03 08:32] tzach commented on #648
We can either create a page for minor release, and one for patch releases (as we do for Scylla), or add section (with the relevant repo info) for minor release upgrade to this page.

[2021-06-03 08:34] tzach commented on #648
In addition, its better to move the Manager upgrade into the Manager project.

[2021-06-03 08:42] tzach commented on #648
As a quick fix , for minor release upgrade, we should point to https://www.scylladb.com/download/#manager (limited, open source) or https://www.scylladb.com/customer-portal/?product=manager (Enterprise) to get the *new* repo from.

[2021-06-03 08:47] tzach commented on #619
Closing this issue since its not related to monitoring doc.
The question is relevant for each Scylla / Cassandra drivers: do a driver using a LOCAL_ CL, can fall to a different DC once the local one is not available

[2021-06-03 08:47] #619 closed

[2021-06-03 08:49] lauranovich commented on #619
Additional information on Consistency https://docs.scylladb.com/getting-started/consistency/. I'll add this information here once we get the answer.

[2021-06-03 08:53] tzach commented on #611
Thanks @classbasics
I'm closing this issue, since its a manger feature.

[2021-06-03 08:53] #611 closed

[2021-06-04 12:37] ebenzecri opened #756 "Issue in page Glossary"
I would like to report an issue in page https://docs.scylladb.com//glossary

### Problem
**Shard** is not listed in the glossary. It was defined quickly inside **Reshard** as _core_.

###  Suggest a fix
As **Shard** is one of the most used words, I think it deserves its own definition.

[2021-06-06 07:55] tzach commented on #756
Thanks!
@lauranovich please review my suggestion:

Each Scylla node is internally split into *shards*, an independent thread bound to a dedicated core.
Each shard of data is allotted CPU, RAM, persistent storage, and networking resources which it uses as efficiently as possible. With its custom schedulers for CPU and I/O processing, Scylla knows how to get maximum efficiency out of your Big Data i

[2021-06-06 08:13] lauranovich commented on #750
Copy these files to your client/s, from which you run cassandra-stress.
The files should be the same for each node in the cluster.
@tzach
Which one is it? It seems to be contradictory to me. All nodes, or only those which I am running cassandra-stress. Maybe it is the client vs node which is an issue here.

[2021-06-07 08:01] juliayakovlev opened #757 "Issue in page Data Definition - missing description of "caching" table option"
I would like to report an issue in page https://docs.scylladb.com//getting-started/ddl

### Problem

We missing description of "caching" table option.

Example:

[code]

###  Suggest a fix

[2021-06-07 18:27] tzach opened #758 "Issue in page Scylla and Apache Cassandra Compatibility - update sstable format"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/cassandra-compatibility
Scylla now support 3.11(mc/md), 2.2(la), 2.1.8 (ka)

Reported by @bhalevy

[2021-06-07 18:28] tzach commented on #758
@bhalevy from which Scylla release are the above format supported?

[2021-06-08 05:35] bhalevy commented on #758
@tzach OSS 4.3 / Enterprise 2021.1

[2021-06-08 08:09] AdamStawarz opened #759 "Issue in page Functions - '+'/'-' are not implemented yet"
I would like to report an issue in page https://docs.scylladb.com//getting-started/functions

This query doesn't work:
SELECT * FROM myTable WHERE date >= currentDate() - 2d

### Problem
[code]
###  Suggest a fix
https://github.com/scylladb/scylla/issues/2694

[2021-06-08 12:14] #758 closed

[2021-06-08 12:20] tzach commented on #701
This is still valid, and still better to be fix in Scylla itself (or at least in tree doc)

[2021-06-08 15:02] tomer-sandler commented on #759
The example in the https://docs.scylladb.com/getting-started/functions/#datetime-functions section does not work.
Per scylladb/scylla#2694 -> this was planned to be implemented, but never did... @tzach @lauranovich

[2021-06-08 18:22] tzach commented on #759
@tomer-sandler you are repeating the original issue text
please see the propose fix (PR) above

[2021-06-08 18:33] #681 closed

[2021-06-08 20:16] tomer-sandler commented on #759
I meant to clarify it, and I missed the proposed fix (PR) @tzach - thanks!

[2021-06-09 05:30] tzach commented on #699
@sergeleo ping

[2021-06-09 05:33] tzach commented on #698
@sergeleo  please fix

[2021-06-09 11:29] #736 closed

[2021-06-09 12:14] gcarmin commented on #704
@tzach   AFAIU it has the option to be external as well, hence need to be added.

[2021-06-10 09:29] tarzanek opened #760 "Issue in page Encryption: Data in Transit Client to Node"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/security/client_node_encryption

### Problem
section https://docs.scylladb.com/operating-scylla/security/client_node_encryption/#validate-the-clients

2. To run cassandra-stress with SSL, each ...

in examples there is
openssl pkcs12  ...
they don't mention the gotcha, that if you use empty export password
then the

[2021-06-10 17:24] #760 closed

[2021-06-10 19:31] sergeleo commented on #698
Apologies for the delay, haven't seen any notifications. So, @nyh, should we use https://github.com/scylladb/scylla/blob/master/docs/alternator/alternator.md instead of wiki? Please confirm.

[2021-06-10 19:34] sergeleo commented on #699
Our agency recently made changes to the download page. I'll work on resolving this.

[2021-06-11 06:16] tzach commented on #706
@amoskong can you please approve?

[2021-06-11 06:27] tzach commented on #698
Yes, and better point to https://scylla.docs.scylladb.com/master/alternator/alternator.html , a branded version of the same doc.

[2021-06-11 17:13] sergeleo commented on #699
Fixed. Note that when you click on it you may see a momentary view of "Scylla Cloud" but then it will bring up the Open Source tab. @nyh, please verify and close this issue.

[2021-06-11 17:34] sergeleo commented on #698
Done, @tzach @nyh please verify

[2021-06-13 06:20] tzach commented on #698
LGTM

[2021-06-13 06:48] nyh commented on #698
Yes, everything seems to be correct now. Thanks. I'll close the issue.

[2021-06-13 06:48] #698 closed

[2021-06-13 07:00] nyh commented on #699
I don't understand where it was fixed... I go to https://www.scylladb.com/open-source-nosql-database/, and I see a lot about the features of the product, but not a link to where I can get the **source** (i.e., to github). Or maybe it's just hidden so well I couldn't find it :-)

I'm not suggesting that most - or even many - of our users would actually want to download the source code and compile i

[2021-06-14 04:59] bhalevy opened #761 "Issue in page Nodetool tablestats"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/tablestats

### Problem

It turns out that nodetool allows separating the keyspace from the cfname also with a slash (`/`), not only a dot (`.`)
This is useful when the keyspace or the column family names contain a dot.

See https://github.com/scylladb/scylla-dtest/pull/2182

This applies also to

[2021-06-14 04:59] bhalevy commented on #761
Cc @nyh

[2021-06-14 05:25] bhalevy commented on #761
Note that CQL does not allow to create keyspaces or tables with a dot in their name, but these are legal over the alternator interface.

[2021-06-14 05:41] tzach commented on #761
@bhalevy can you please provide a working example?

[2021-06-14 05:53] bhalevy commented on #761
@tzach I added a dtest in https://github.com/scylladb/scylla-dtest/pull/2183
that tests the different combinations.

I'd like to hear @nyh's opinion about the need to document the slash delimiter syntax and how it should be phrased since it seems to be required only for accessing tables containing a dot in their name that were created over the alternator interface.

[2021-06-14 05:59] tzach commented on #761
@bhalevy in the examples, I see a dot, a forward slash, but I do not see a combination, which was the original comment:
"if either of them contains a dot, a forward slash character (/) may be used as a delimiter instead."

What am I'm missing?
[code]

[2021-06-14 06:08] bhalevy commented on #761
The test can't create a keyspace or a table with a dot in their name over CQL.

For such a (now) working example, see https://github.com/scylladb/scylla-dtest/pull/2182/files

There it's even trickier and uglier, since internally we seem to create a keyspace for each alternator table called `alternator_{cf_name}` where `cf_name` is the only table in it.  @nyh please stand me corrected.

To access

[2021-06-14 06:57] nyh commented on #761
@bhalevy is right that although in the CQL language table and keyspace names must be alphanumeric only (letters, numbers and underscores), the underlying Scylla implementation doesn't have this limitations, and Alternator in particular allows creating tables and keyspaces with a wider selection of characters - including the dot character.

In many nodetool commands, the keyspace and table names ar

[2021-06-14 11:36] martin-sucha commented on #708
Still valid.

[2021-06-14 18:42] tzach commented on #708
Example for composite partition key
[code]

[2021-06-15 07:27] martin-sucha commented on #708
Thanks!

What if the the field itself contains a colon? Is it escaped? For example:

[code]

What if the partition key contains a frozen UDT?

[2021-06-15 09:19] tzach commented on #708
Frozen UDT are not supported, I will open a Scylla issue for this, and update doc with the above

[2021-06-15 10:35] #759 closed

[2021-06-16 09:29] bhalevy opened #762 "Issues in page Nodetool toppartitions"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/toppartitions

### Problem 1

In "Changed in version 4.5":
[code]

a. the command has no unqualified '<keyspace>' and '<table>' arguments anymore, they must be provided with the respective filter options.

b. Both `–ks-filters` and `–cf-filters` need to start with two dashes, not one.

###  Sugges

[2021-06-16 09:35] bhalevy commented on #762
### Problem 3

The time literals in the following example are inconsistent with each other:
[code]

[2021-06-16 12:54] tzach commented on #757
There is also `{'enabled'  : 'ALL' }` or `{'enabled'  : 'NONE' }`

https://github.com/scylladb/scylla/commit/b2f0a9d05c9f2adea4e2a668cee201fc4a38002b

[2021-06-17 09:44] AdamStawarz opened #763 "Issue in page Scylla Manager"
![image](https://user-images.githubusercontent.com/11996012/122372757-3ac99980-cf61-11eb-8aa9-4d7b3ea5a852.png)

### Problem

"Monitoring Support Matrix" Url --> 404
https://monitoring.docs.scylladb.com/scylla-monitoring-3.5/matrix.html

###  Suggest a fix

should be: ?
https://monitoring.docs.scylladb.com/stable/reference/matrix.html

[2021-06-24 13:16] #704 closed

[2021-06-24 18:23] tzach commented on #704
@gcarmin as long as the port is not secured, and close from external servers, I do not see a value in documenting it here.

[2021-06-27 07:11] Ryulth opened #764 "Issue in page Data Types"
Update the path to the relevant Doc page: https://docs.scylladb.com/getting-started/types/

#### Problem
 * There is a typo in the header link of the page as **`ata Types`**

![image](https://user-images.githubusercontent.com/32893340/123535885-0eccc600-d762-11eb-8561-cc16e6a71229.png)

#### Suggest a fix
 * It seems to have to be **`Data Types`**

[2021-06-27 07:55] tzach commented on #764
Ouch. Thanks for letting us know.
I'm 95% I'm to blame on this one.

[2021-06-27 07:57] tzach commented on #764
Yes. I introduce this 6 days ago.

[2021-06-27 07:58] #764 closed

[2021-06-28 18:40] AdarBahar opened #765 "Issue in page Role Based Access Control (RBAC)"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/security/rbac_usecase

### Problem
Current text:
RBAC is available in Scylla Enterprise version 2019.1.x and Scylla Open Source version 2.2.x and later.

###  Suggest a fix
I think that RBAC is available in Scylla Enterprise and Scylla Cloud version 2019.1.x and later and Scylla Open Source version 2.2.x and later.

[2021-06-28 18:46] tzach commented on #765
This is true for **all** Scylla Enterprise features, like workload prioritization.

[2021-06-30 05:38] bhalevy opened #766 "Issue in page Data Manipulation"
I would like to report an issue in page https://docs.scylladb.com//getting-started/dml

### Problem

Delete using timestamp example is misleading because the timestamp is expected to be given in microseconds, not whole seconds.  (See better example for `INSERT INTO`)

[code]

###  Suggest a fix

[code]

[2021-06-30 06:43] #766 closed

[2021-06-30 07:26] nyh opened #767 "DML document should explain the semantics (epoch and units) of timestamps"
https://docs.scylladb.com/getting-started/dml/

In classic Cassandra, user-specified write timestamps (USING TIMESTAMP) did not need to use any specific units - it's just that the higher number wins - the number itself can be any signed 64-bit number. However, after the advent of server-side timestamps, LWT and possibly other reasons (?) we made the decision (TODO: find a reference) that user-spec

[2021-06-30 07:28] nyh commented on #766
I think it's not enough to fix the example - we also need to explain what this timestamp needs to be (otherwise, why did we fix the example in the first place?). I opened issue #767 for that.

[2021-06-30 07:28] tzach commented on #663
@adambabik can you help with this one?

[2021-06-30 07:32] bhalevy commented on #767
I agree with the need to do this.

timestamps are really messy in CQL.
The word "timestamp" is used to describe different entities in different units (seconds, milliseconds, microseconds) so it's important that they are well defined in the context that they are used.

See also #206, #636

[2021-06-30 07:34] nyh commented on #767
This is very very true - the "USING TIMESTAMP" timestamp is nothing like the "TIMESTAMP" column. So we need to explain this in the same document and even paragraph introducing "USING TIMESTAMP" in dml.rst - not in some glossary.

[2021-06-30 07:39] tzach commented on #767
@bhalevy can you please nugget a new wording?

[2021-06-30 08:42] bhalevy commented on #767
I suggest adding a new section to the document and refer to it from INSERT, UPDATE, and DELETE.

Also, it looks like in DELETE, `update_parameter` is undefined (and the definition style in UPDATE is different than INSERT).

And on top of that, we seem to support `USING TIMEOUT` for the update parameter, at least at the cql parsing layer - and that's completely undocumented in this page for INSERT/

[2021-06-30 08:45] bhalevy commented on #767
Hmm, we throw an error if DELETE specifies TTL (See https://github.com/scylladb/scylla/blob/029991bfc236f0a3dfc1e8205b1930c85ae98b09/cql3/statements/delete_statement.cc#L133),
so that's covered.

[2021-06-30 08:53] bhalevy opened #768 "DML document should explain the semantics of "USING TIMEOUT""
https://docs.scylladb.com/getting-started/dml/ doesn't mention the `USING TIMEOUT` update_parameter.

Also, the `update_parameter` syntax is inconsistently documented for INSERT, UPDATE, and DELETE.

[2021-06-30 08:54] tzach commented on #767
@bhalevy note that we have working-with-timestamps section on the Type page:
http://localhost:5500/getting-started/types/#working-with-timestamps

[2021-06-30 08:54] bhalevy commented on #767
I opened https://github.com/scylladb/scylla-doc-issues/issues/768 about `USING TIMEOUT` and update_parameter inconsistencies.

[2021-06-30 09:00] nyh commented on #767
‎@tzach you fell into the same trap that Benny warned you about! :-) The "timestamp" column type is a very different thing from the "using timestamp" (a.k.a. writetime) of writes. And they use different units (milliseconds vs microseconds). Sad, but true.

Maybe it's worth mentioning this difference somewhere in the documentation.

[2021-06-30 09:08] tzach commented on #767
@bhalevy did you notice https://dosc.scylladb.com/getting-started/dml/#update-parameters

"Update parameters
The UPDATE, INSERT (and DELETE and BATCH for the TIMESTAMP) statements support the following parameters:

TIMESTAMP: sets the timestamp for the operation. If not specified, the coordinator will use the current time (in microseconds) at the start of statement execution as the timestamp. This

[2021-06-30 09:17] lauranovich commented on #757
It would be better if in addition we had a definition as well
can someone please provide a description in words

1. What  keys and rows per partition means?
2. Are there any other settings other than ALL ?

[2021-06-30 09:25] bhalevy commented on #767
@nyh, by the way, the documentation for `writetime` in https://docs.scylladb.com/getting-started/dml/#writetime-and-ttl-function
mentions a general `EPOCH` rather the Unix epoch...  At least it doesn't mention `timestamp` as it used to prior to scylladb/scylla-docs@00c64079d09ae7b303f4b451bfbe95ba1eb84e62 (See #206 / scylladb/scylla-docs#2556).  I should have been more careful about specifying whi

[2021-06-30 09:26] tzach commented on #757
https://cassandra.apache.org/doc/latest/cql/ddl.html?highlight=rows_per_partition

[2021-06-30 09:28] nyh commented on #767
ּRight I even mentioned this a few comments up: "Note that mentioning the exact epoch is important, and we fail to do that for server-side timestamps and in another place we just write "EPOCH" in upper case, like this has a known meaning...."

[2021-06-30 09:31] bhalevy commented on #767
I didn't notice it.  It's part of the UPDATE section, hence one has to search for it.  Since it's common to a number of queries I think it should also be described in a standalone section and be referred to by all queries that use it.

Regarding it's description of TIMESTAMP, here too we can better specify the epoch, like:
[code]

[2021-06-30 09:33] bhalevy commented on #767
I changed `timestamp` to `the time when` because of the ambiguity of the term that caused havoc when feeding writetime to time functions expecting milliseconds-based timestamp. See scylladb/scylla#5552

[2021-06-30 09:56] #756 closed

[2021-06-30 11:16] lauranovich commented on #757
@tzach - according to https://cassandra.apache.org/doc/latest/cql/ddl.html?highlight=rows_per_partition the options are Keys and Rows per partition
what is the enabled for?

[2021-06-30 11:35] lauranovich commented on #765
I think the point is if the user doesn't see it as available he / she will think it is not. So I don't mind adding it.
However, since it is so OLD at this point, perhaps the sentence should be deleted because any modern version of Scylla will have it.

[2021-06-30 11:49] lauranovich opened #769 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem
Add links to Scylla U
https://university.scylladb.com/courses/data-modeling/lessons/materialized-views-secondary-indexes-and-filtering/
https://university.scylladb.com/courses/data-modeling/lessons/materialized-views-secondary-indexes-and-filtering/topic/global-secondary-indexes/
https://

[2021-06-30 12:15] #710 closed

[2021-06-30 12:16] #765 closed

[2021-06-30 12:26] #708 closed

[2021-07-02 17:37] mailmahee opened #770 "Issue in page Deploy Scylla Cloud - Bring Your Own Account"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/scylla-cloud-byoa

### Problem
spelling mistake-

Create/expend clusters

###  Suggest a fix

Create/Expand clusters

[2021-07-03 07:05] #770 closed

[2021-07-04 06:25] lauranovich opened #771 "Upgrade Ent 2020.1 to 2021.1 (possibly also from OSS 4.3 to Ent 2021.1) requires a documented workaround"
Upgrade docs need fixing

Issue found (explanation [here](https://github.com/scylladb/scylla-enterprise/issues/1832#issuecomment-871376751)), workaround was to re-run `scylla_io_setup` to set the "new" I/O conf format. Prod cluster fully upgraded to 2021.1.2
This is a more widespread issue -> EVERY customer that uses the old I/O configuration format (IIRC, new format was introduced in OSS 3.0 / En

[2021-07-04 06:26] lauranovich commented on #771
@tomer-sandler - FYI

[2021-07-04 06:47] tzach commented on #771
@amoskong please add (and test) a note to the upgrade guide

[2021-07-04 18:01] #762 closed

[2021-07-05 07:42] amoskong commented on #771
In https://github.com/scylladb/scylla-enterprise/issues/1832#issuecomment-871376751 , the io.conf was generated with very old scylla. It's not generated by the source version (2020.1.9).

So we don't need to update the upgrade guide of 2021.1, unless the problem only occurs with 2021.1 (2020.1 works well with the old io.conf)

[2021-07-06 05:00] tomer-sandler commented on #771
@amoskong the problem was hit by Kiwi upon upgrade from 2020.1.9 to 2021.1.2
Their upgrade path in the last ~1 year was the following:
2019.1.5 -> 2019.1.17 -> 2020.1.6 -> 2020.1.9 -> 2021.1.2

Their cluster was still using the "old" `io.conf` all this time (probably due to upgrade from 2018.1 (or some OSS < 3.0)

So I do consider this a "generic" / "general" problem for customers that have been u

[2021-07-06 10:03] lauranovich commented on #657
@elcallio - please take a look at the issue above and suggest a procedure to use.

If not, please tell me who can do this.

[2021-07-06 10:44] elcallio commented on #657
A `system key` can be used in multiple places.
* Encrypting commit logs
* Encrypting some system tables (paxos and batchlog)
* Encrypt keys used by `replicated provider` (and thus required to read user tables encrypted using this provider)

When updating a system key, if you wish to delete the old key (assuming file), you need to either ensure that all these places are empty or have replaced their

[2021-07-07 09:48] tzach commented on #767
@bhalevy would you be kind enough to send a PR?
I got lost trying to match your comment to the rst file
Do not worry about for mating and links, I will fix it after

[2021-07-07 09:54] tzach commented on #743
@omrivardi an you send a PR? if not let me know

[2021-07-07 09:55] tzach commented on #740
@saintbiz can you please elaborate on what the issue is?
https://docs.scylladb.com/getting-started/system-requirements/#id3

[2021-07-07 09:57] #737 closed

[2021-07-07 09:59] tzach commented on #733
@nyh @dekimir can you please point me to a explanation for each?

[2021-07-07 10:01] tzach commented on #730
@lauranovich please remove this old page

[2021-07-07 10:06] tzach commented on #720
@lauranovich please add scylla_swap_setup to getting-started/_common/system-configuration-index.rst
"Configure swap for Scylla"
source: https://github.com/scylladb/scylla/blob/master/dist/common/scripts/scylla_swap_setup

And link to it from  https://docs.scylladb.com//kb/set-up-swap

[2021-07-07 10:07] tzach commented on #719
#720

[2021-07-07 10:08] tzach commented on #706
@amoskong ping

[2021-07-07 10:13] dekimir commented on #733
@tzach I'm not aware of an explicit explanation other than in the code.

[2021-07-07 10:40] syuu1228 commented on #720
scylla_swap_setup replaces manually creating swapfile in https://docs.scylladb.com/kb/set-up-swap/, we just need to specify two options, swapfile path and swapfile size:
[code]

[2021-07-07 10:58] omrivardi commented on #743
I can for the ones I suggested to remove, for the not clear ones not sure I can rephrase them properly.
If we at it, I wonder if there are any other suggestions we can add there.

[2021-07-07 11:00] amoskong commented on #706
It's a real problem, I had prepared a fix.

[2021-07-08 06:09] #706 closed

[2021-07-08 06:43] lauranovich commented on #757
@psarna - can you please review this PR and explain what is needed here?

[2021-07-08 09:50] nyh opened #772 "Consolidate and improve information about consistency levels"
We have (at least) three documents containing **partial** information on the different consistency levels we support and what they mean:

1. https://docs.scylladb.com/architecture/architecture-fault-tolerance/
2. https://docs.scylladb.com/glossary/#term-consistency-level-cl
3. https://docs.scylladb.com/getting-started/consistency/

A user trying to get some information about our consistency levels

[2021-07-09 11:39] adambabik commented on #663
The up-to-date policies can be found here: https://github.com/scylladb/siren/tree/master/cloud/provider/aws/policy/templates. I don't exactly know what's the process of updating them. I will work with @AdarBahar to figure this out as we have a different related issue.

[2021-07-09 12:57] tarzanek opened #773 "Issue in page Tracing"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/tracing

### Problem
we lack info how to dump the sessions and events table

###  Suggest a fix

we should document this should be done using COPY TO
e.g.
[code]
and then later from cqlsh:
[code]
or if people insist on doing it with select, then they should turn off paging to get the whole thing:
[code]

[2021-07-09 12:58] tarzanek opened #774 "Issue in page How to Report a Scylla Problem"
I would like to report an issue in page https://docs.scylladb.com//troubleshooting/report_scylla_problem

### Problem
we should either explain how to send us tracing sessions and events
or link to such section in Tracing docs

###  Suggest a fix

same as in https://github.com/scylladb/scylla-doc-issues/issues/773

[2021-07-09 13:14] Pawel-Kr commented on #773
I'd add `WITH HEADER = TRUE` param to those commands, e.g.:
[code]

[2021-07-10 21:33] Asgavar opened #775 "Issue in "DPDK mode" page"
The snippet on https://docs.scylladb.com//kb/dpdk-hardware is, I believe, misleading:

[code]

[2021-07-10 21:53] Asgavar commented on #775
btw, DPDK itself should provide (at least _some_) support to more devices than those drived by `ixgbe` and `i40e`, are they the only ones that Scylla/Seastar will cooperate with? ;]

[2021-07-11 06:48] tzach commented on #773
@tarzanek @Pawel-Kr why not adding this logic to the **node_health_check** script?

[2021-07-11 09:50] tzach commented on #775
@syuu1228  is this page still relevant ?

[2021-07-11 10:06] tzach commented on #772
@lauranovich please fix base on @nyh comments

[2021-07-11 10:07] tzach commented on #763
@lauranovich ping

[2021-07-11 10:16] nyh commented on #772
I want to add that the user's original question about what "TWO" really does on a multi-DC setup - isn't really answered in any of these three documents. But fixing this can come later (I also don't know what the answer is...) - after it's clearer in which of the three documents such an explanation will belong.

[2021-07-11 12:47] lauranovich commented on #774
@tarzanek before I fix this please take a look at the entire page
Is the information still relevant and is it still the procedure we want our users/customers to follow?

We should strive for something simpler. This process is complicated with lots of parts.

[2021-07-11 12:55] lauranovich commented on #519
closing the issue - thank you for reporting!

[2021-07-11 12:55] #519 closed

[2021-07-11 14:23] #763 closed

[2021-07-12 06:11] #730 closed

[2021-07-12 06:28] lauranovich commented on #720
@syuu1228  - so something like:   sudo scylla_swap_setup --swap-directory /tmp/swp --swap-size SWAP_SIZE 500

if not, please suggest

[2021-07-12 06:58] #685 closed

[2021-07-12 06:58] #769 closed

[2021-07-12 07:04] lauranovich commented on #665
@tzach is this fixed with https://github.com/scylladb/scylla-docs/pull/3441?

[2021-07-12 09:31] #771 closed

[2021-07-12 15:32] martin-sucha opened #776 "Describe how to prevent reads from newly added datacenter"
https://docs.scylladb.com/operating-scylla/procedures/cluster-management/add_dc_to_existing_dc/

#### Problem

There is note `Make sure to complete the full procedure before starting to read from the new datacenter.`
However, the documentation does not mention how to accomplish that.
Also the fact that by default, the new datacenter will be used for reads automatically is not mentioned.

#### Sugg

[2021-07-12 17:56] tzach commented on #776
Thanks @martin-sucha good input!

[2021-07-13 11:30] Pawel-Kr commented on #773
@tarzanek it sounds like it would be complicated, doesn't it? I mean tracing require to enable tracing/probabilistic tracing for some time before we'll be able to collect the data, so it isn't an ad-hoc task to perform.

[2021-07-14 09:26] AdamStawarz opened #777 "Fix documentation: compaction_enforce_min_threshold option"
I would like to report an issue in page https://docs.scylladb.com//getting-started/compaction

### Problem
compaction_enforce_min_threshold=true --> here is typo and the proper scylla.yaml property should looks like:
compaction_enforce_min_threshold: true

compaction_enforce_min_threshold=true --> generates issue

###  Suggest a fix

[2021-07-14 12:13] #720 closed

[2021-07-14 12:27] tzach commented on #776
- Add a disclaimer (as mention above)
- give one example (Java)
- Link to eh driver page

[2021-07-14 12:28] tzach commented on #775
@avikivity can you please take a look?
is https://docs.scylladb.com//kb/dpdk-hardware still relevant?

[2021-07-14 12:38] tzach commented on #772
@lauranovich
- lets remove all the CL terms from the glossary, expect **Consistency Level (CL)**. No need for Consistency Level: All, Any etc
- 2, 3, I agree with @nyh
- 4 - we should remove the table from *architecture-fault-tolerance* page, and link to the more accurate table in the *consistency* page

[2021-07-14 12:43] #743 closed

[2021-07-14 12:43] #746 closed

[2021-07-14 12:53] tzach commented on #733
@dekimir for the second one, non-equality operator for each data type, where in the code should we look ?

[2021-07-14 12:54] tzach commented on #719
@lauranovich ping

[2021-07-14 12:55] tzach commented on #699
@sergeleo ping

[2021-07-15 18:49] #772 closed

[2021-07-16 15:41] fee-mendes opened #778 "Ambiguous instructions for cleanup and repair after RF change"
I would like to report an issue in page https://docs.scylladb.com/faq/#can-i-change-the-replication-factor-a-keyspace-on-a-live-cluster

### Problem
The section **Can I change the replication factor (a keyspace) on a live cluster?** advises users that:
-  If we are **reducing** the RF for a given keyspace, we must run `nodetool cleanup` on all nodes afterwards
- If we are **increasing** the RF for

[2021-07-17 15:13] tzach commented on #778
very good inputs!
BTW, you are more tha welcome to send PRs

[2021-07-18 08:31] lauranovich commented on #773
There seems to be something missing here
You mentioned removing data
I am seeing that you're moving data with a copy command and not removing the data from the source
@tarzanek  please explain

[2021-07-18 09:12] #778 closed

[2021-07-19 06:42] lauranovich commented on #773
In addition,
https://docs.scylladb.com/troubleshooting/report_scylla_problem/ has no mention of sending tracing data where should this be mentioned?

under Scylla Failure or Scylla Performance?

[2021-07-19 07:48] tarzanek commented on #773
Alternative is to snapshot and upload a snapshot of `system_traces` keyspace copy/backup to scylla support
`du -hs /var/lib/scylla/data/system_traces`
will roughly state the size needed for dump (multiply by 2 or 3 to get text dump)

Also the data dumped will be in local directory, or absolute path provided for the COPY or select commands above

[2021-07-19 08:39] tarzanek commented on #773
I guess we should mention that the name of table depends on action which you took
from https://docs.scylladb.com/using-scylla/tracing/#tracing

but it only means mentioning
`node_slow_log`
and `sessions_time_idx`  and `node_slow_log_time_idx`  - but those are indexes, but they cannot be built dynamically
they are tables
so it means it would be good to have them dumped, too

[2021-07-19 10:37] dekimir commented on #733
I'd start here:
https://github.com/scylladb/scylla/blob/df822e09e07a8560587a4107b3f55cecb1322a5f/types.cc#L2197

[2021-07-19 11:18] tarzanek opened #779 "Issue in page Scylla Large Rows and Large Cells Tables"
I would like to report an issue in page https://docs.scylladb.com//troubleshooting/large_rows_large_cells_tables

### Problem
missing units for
row_size in large_rows and unit of cell_size

###  Suggest a fix

add units
per https://github.com/scylladb/scylla/blob/master/docs/design-notes/sstable-scylla-format.md#large_data_stats-subcomponent units are bytes

[2021-07-19 11:36] nyh opened #780 "Issue in page Scylla Snitches"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/system-configuration/snitch

### Problem
The explanation of the "prefer_local" option is unclear. The text says:

A user who asked me about this sentence - and also I when I went to look, didn't understand what "local IP address" refers to (and what is the second half of the sentence really saying). The user though

[2021-07-20 08:35] tzach commented on #628
still valid

[2021-07-21 07:27] nyh opened #781 "Issue in page Install Scylla"
I would like to report an issue in page https://docs.scylladb.com//getting-started/install_scylla/index

### Problem

First a trivial spelling mistake, "Installtion". Please run a spell-checker on the whole page.

But more importantly, I got to this page trying to help a user (https://stackoverflow.com/questions/68329754/does-scylla-4-4-supports-python3-9) wanting to run Scylla on the rare "parrot

[2021-07-21 08:30] tzach commented on #780
@vladzcloudius ?

[2021-07-21 08:31] tzach commented on #775
@avikivity ?

[2021-07-21 08:33] tzach commented on #757
@psarna @lauranovich is there anything to fix ? if not lets close this issue

[2021-07-21 09:31] #767 closed

[2021-07-21 10:11] #719 closed

[2021-07-21 10:40] avikivity commented on #775
I think more are supported now, but haven't tested them myself.

[2021-07-21 14:11] #777 closed

[2021-07-21 14:30] lauranovich commented on #757
I have a PR waiting for review - which includes the necessary fixes

[2021-07-22 09:23] #641 closed

[2021-07-25 12:12] lauranovich commented on #781
@penberg  - ping
@nyh - the landing page for the Scylla Download Center has the cloud tab selected by default - I admit, it may not be apparent what you need to do. I'll bring this up with the Marketing team as they are responsible for the content in the Download center.
The other components I'll change immediately.
Thanks

[2021-07-25 12:43] lauranovich commented on #776
@haaawk - can you please give me a Java example for this that describes how to configure the client?

[2021-07-26 07:27] tzach commented on #630
@gcarmin I'm closing this, as the doc move to the operator repo, and significantly changed.
If this is still valid, please open an issue in the operator repo.
Thanks

[2021-07-26 07:27] #630 closed

[2021-07-26 07:33] #779 closed

[2021-07-26 07:42] tzach commented on #781
- @nyh I assume you means "Scylla Unified Installer"
https://www.scylladb.com/download/?platform=tar&version=scylla-4.4#open-source

Which is the feature name as I know it.
If you (and @penberg ) think "relocatable executable" is better I can change the naming.

- I agree the download page is not easy to use. With the introduction of the uber download script https://github.com/scylladb/scylla/issu

[2021-07-26 07:43] nyh commented on #781
Thanks @lauranovich.
About the Scylla Download Center - I agree it makes sense for the marketing team to decide what they want to "sell" more prominently, but I think when https://docs.scylladb.com/getting-started/install_scylla/index has a link titled "Install Scylla (Binary Packages, Docker, or EC2)" it needs to be a link to a page showing exactly that - not to a page about Scylla Cloud. So if I

[2021-07-26 07:49] lauranovich commented on #781
We can try to look at it this way
1 - change the installation/download instruction page in docs - to include links to the correct pages. This may help bypass the tab issues - but I'll have to see if it works,
2 - define the terms properly
3 - add docs that explain what methods of download/install we offer

[2021-07-26 07:49] nyh commented on #781
I don't know, because I never heard the name "unified installer" and the page you linked to describes it as "on an air-gapped server and you do have root privileges, ", which is not this user's need at all: The point of the user I was trying to help was that he was using a distribution which isn't one of the officially supported ones, so he wants a **stand-alone** Scylla package - something which

[2021-07-26 08:53] haaawk commented on #776
One way to prevent clients from connecting to the new DC is to temporarily restrict them to use only nodes in the DC local to those clients. This can be done by ensuring the operations are performed with CL=LOCAL_* (for example LOCAL_QUORUM) and using `DCAwareRoundRobinPolicy` created by calling `withLocalDc("dcLocalToTheClient)` and `withUsedHostsPerRemoteDc(0)` on `DCAwareRoundRobinPolicy.Builde

[2021-07-26 08:54] haaawk commented on #776
Related javadocs:
https://docs.datastax.com/en/drivers/java/3.11/com/datastax/driver/core/policies/DCAwareRoundRobinPolicy.Builder.html
https://docs.datastax.com/en/drivers/java/3.11/com/datastax/driver/core/policies/DCAwareRoundRobinPolicy.html

[2021-07-26 14:07] lauranovich commented on #776
Thank you @haaawk - I'll add this - as the reference docs are not on our site what can we use instead?
As a second thought, should we have our own version of these docs on our site?

[2021-07-26 14:14] lauranovich commented on #781
@nyh - Maybe the answer lies in how we direct our readers to the Download center

We can change the docs to include a Choose an Installation Method - and list the possibilities and link to the place where the instructions are for that method.

Is this what you had in mind?

[2021-07-26 14:16] haaawk commented on #776
The reference docs are on our site. See for example https://java-driver.docs.scylladb.com/scylla-3.10.2.x/api/com/datastax/driver/core/policies/DCAwareRoundRobinPolicy.Builder.html

[2021-07-27 08:25] lauranovich commented on #776
@haaawk - I saw that https://java-driver.docs.scylladb.com/scylla-3.10.2.x/api/com/datastax/driver/core/policies/DCAwareRoundRobinPolicy.Builder.html#withUsedHostsPerRemoteDc-int- lists
``withUsedHostsPerRemoteDc(0)`` as deprecated - what should we use instead?

[2021-07-28 09:50] gcarmin opened #782 "Issue in page Scylla SSTable Format"
I would like to report an issue in page https://docs.scylladb.com//architecture/sstable/index

### Problem
This is an old version. since 2020.1.X MC is the default and since 2021.1.X MD format is the default.
###  Suggest a fix
Please add to related information and explanation.

[2021-07-28 20:53] vladzcloudius commented on #780
I agree that the current language in the doc is somewhat confusing.

I believe if we use "internal IP" instead of "local IP" it would already make more sense.
And the statement related to `listen_address` is also rather vague to my taste.

Something like this should be better IMO:
"
If you set the prefer_local to true it will tell Scylla to use an internal IP address for interactions with nodes in

[2021-07-29 08:18] #773 closed

[2021-07-29 08:22] #757 closed

[2021-08-02 03:19] tomer-sandler commented on #342
Bump

[2021-08-02 14:49] vladzcloudius commented on #510
@lauranovich @tzach ping

[2021-08-02 18:03] erikslott-accertify opened #783 "Issue in page Encryption at Rest"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/security/encryption-at-rest

### Problem
Encrypt System Resources in the first example the secret_key_file needs to be the full path to the secret key file.
This is in version 2021.1.3-0.20210708.aec1c25d7. Unsure if this is a bug or documentation issues (or both) as the system_key_directory: was set in the configu

[2021-08-02 18:15] tzach commented on #783
Good catch

[2021-08-02 18:20] #783 closed

[2021-08-03 06:39] tzach commented on #680
keeping this alive

[2021-08-03 07:02] tzach commented on #782
![image](https://user-images.githubusercontent.com/170200/127972067-6f284d20-4684-4692-9c85-7775d7ab072a.png)

[2021-08-03 08:01] #776 closed

[2021-08-03 08:19] #782 closed

[2021-08-03 08:24] tzach commented on #774
Fix with https://github.com/scylladb/scylla-docs/pull/3651

[2021-08-03 08:24] #774 closed

[2021-08-03 08:24] tzach commented on #768
@bhalevy is this still relevant (after your PRs)?

[2021-08-03 08:35] bhalevy commented on #768
yes, I didn't touch this at all.

@psarna added `USING TIMEOUT` to the grammar file in scylldb/scylla@d3896a209b8e110dd1c076070e23574da8859984 so I guess he would be a better fit to update the docs.

[2021-08-03 08:44] tzach commented on #740
In particular the doc already include "Scylla requires modern Intel CPUs that support the SSE4.2 instruction set and will not boot without it."

[2021-08-03 08:45] tzach commented on #768
@psarna can you please send a PR, or comment here with the suggested syntax?

[2021-08-03 09:56] psarna commented on #768
It's all there since February: https://github.com/scylladb/scylla-docs/commit/bbed07d4d1c4ad6ad474d52a6470909aa5902022

[2021-08-03 09:59] tzach commented on #768
Thanks @psarna

[2021-08-03 10:04] bhalevy commented on #768
@psarna well, depending on the definition of "all" :)

If I read the code correctly, `USING TIMEOUT` is applicable as an update parameter also for modification statements.
This is not documented.  The documentation you added applies only to the `SELECT` statement.

[2021-08-03 17:50] tzach commented on #632
Still valid

[2021-08-03 18:05] nyh commented on #781
Maybe. I think I was bothered by two separate things. One is that the first doc I looked at didn't make it clear what is the difference between the different methods. The second was that when I clicked on a link that says "download" I got to a page which was about Scylla cloud - not about downloading anything.

Right, which is why I think the link in the install page can't be to the "cloud" page.

[2021-08-04 12:54] tzach commented on #738
@dkropachev this note is following "Support non-frozen UDTs" from @kbr-
https://github.com/scylladb/scylla/commit/c21a7e70a452dcd7625273587a1cfe29d6e6ee62

@kbr- please comment

[2021-08-04 13:39] kbr- commented on #738
[code]

this example is broken, UDTs inside collections must be frozen (only UDTs outside collections can be non-frozen), the correct example is:

[code]

[2021-08-05 06:25] #781 closed

[2021-08-09 14:15] juliayakovlev opened #784 "Issue in page Nodetool refresh"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/refresh

### Problem
- A table has materialized view (MV) or secondary index (SI, also view).
- The SSTables from other cluster (old cluster) are loaded into this table using 'refresh'

Data in the view won't be built after load. MV and SI have to be re-created.

###  Suggest a fix

[2021-08-09 17:39] tzach commented on #784
Good catch

[2021-08-10 10:15] tzach commented on #738
Thanks @kbr-
so the current note is correct
"Starting with Scylla Open Source 3.2, UDTs that are **not in a collection** can be non-frozen."

[2021-08-10 10:15] #738 closed

[2021-08-10 11:10] #780 closed

[2021-08-10 11:10] tzach commented on #768
@bhalevy any chance you can submit a PR to fix this?

[2021-08-12 14:56] lauranovich commented on #699
@sergeleo - here is a suggestion - next to the download now button add another button that says "Get the Source Code" or "GitHub Project" with a GitHub icon - @nyh is this what you have in mind?

[2021-08-12 15:04] lauranovich commented on #784
So what needs to be done is a note which says

NOTE: If you have enabled Materialized Views or Secondary Indexes, note that the MV or SI tables will not be but after the refresh is complete. In this case, you will have to create a new MV or SI table.

do they have to reenable it?

[2021-08-12 16:53] nyh commented on #699
You could do this, but alternatively you can keep the single "download" link which gets you to https://www.scylladb.com/download/#open-source, and there one of the links should be "Get the Source Code" or something like that.

[2021-08-12 17:21] tzach commented on #784
@lauranovich what do you mean enable here
I think the only way to rebuild the MV is to delete and recreate yet
@nyh is is the case?

[2021-08-13 08:10] nyh commented on #784
I think @amnonh dealt with ths in the past so maybe he can chime in.

I am not familiar with the "nodetool refresh" process being described here, so I'll talk in general terms:

If we fill the base table by naively copying sstables, we need to **build the view** from the base table **after** we finish writing the base table. This is as easy as doing the `CREATE MATERIALIZED VIEW` after we finish r

[2021-08-13 19:00] psarna commented on #784
It works like that: sstables uploaded via `nodetool refresh` are originally put in the `/upload` directory, but if Scylla detects that they also need view updates, they are simply physically moved to `/staging` directory and processed just like other staging sstables, e.g. ones received via streaming.

[2021-08-13 19:02] psarna commented on #784
So, in short, if a table has materialized views and sstables are uploaded to it via `nodetool refresh`, they will be automatically put in the `staging` directory first, which means that view updates will be generated for them before they're moved to the regular data directory.

[2021-08-14 17:23] lauranovich commented on #784
ok so what do we tell our users?
If you have a materialized view or secondary index and you need to run nodetool refresh, the refresh will automatically place the MV and SI tables into the /staging directory. In order to use these tables, you need to first generate a view in the /staging directory and then move them to the /data directory (or similar?) - something doesn't sound right here @psarna.

[2021-08-15 05:33] juliayakovlev commented on #784
@psarna
When I ran `refresh` on base table with MV (or SI), the views remained empty.

If try to `refresh` MV, the message is raised:
[code]

I told with @asias , @nyh , @amnonh and understand that we need to re-create view.
This is @asias explanation:
[code]

So maybe we need to decide what is behaviour of `refresh` we expect

[2021-08-15 09:55] #510 closed

[2021-08-16 06:14] psarna commented on #784
That part is true.

That one is not - the user simply puts all the sstables in the `/upload` directory and runs `nodetool refresh`, the rest is performed automatically by Scylla. The exact steps are:
1. The user creates the table and all its views and indexes.
2. The user places all the sstables from the base table in the `upload` directory
3. The user runs `nodetool refresh <ks> <table>`

That's

[2021-08-16 06:20] psarna commented on #784
That's not how it's supposed to work. And just to be extra sure I performed an experiment and it worked:
1. I created a table `ks.t` and filled it with a few rows
2. I turned the node off, copied all sstables from `ks.t` to a separate location and removed them from the data directory
3. I restarted the node - now, table `ks.t` has 0 rows, because I manually removed its sstables and I verified it v

[2021-08-16 06:31] juliayakovlev commented on #784
Thank's @psarna
I'll re-test it because I didn't get the data in MV after refresh

[2021-08-16 06:33] tzach commented on #784
I updated the PR to clarify this.
https://github.com/scylladb/scylla-docs/pull/3689

[2021-08-16 07:52] juliayakovlev commented on #784
https://github.com/scylladb/scylla/issues/9205

[2021-08-16 08:53] lauranovich commented on #784
what we need is
1 - a concise description
2 - a procedure that can be verified
3 - rationale which the user can understand.

[2021-08-16 14:05] lauranovich commented on #608
Closing the issue as there is no content to add at this point.

[2021-08-16 14:05] #608 closed

[2021-08-16 14:07] lauranovich commented on #606
As this is not a doc issue, closing.

[2021-08-16 14:07] #606 closed

[2021-08-16 14:10] lauranovich commented on #251
closing as no advancement has been made.

[2021-08-16 14:10] #251 closed

[2021-08-16 14:12] lauranovich commented on #365
this is not an error. closing

[2021-08-16 14:12] #365 closed

[2021-08-16 14:21] lauranovich commented on #370
not found - closing

[2021-08-16 18:07] #369 closed

[2021-08-16 22:15] classbasics commented on #370
search the page
https://docs.scylladb.com/operating-scylla/procedures/cluster-management/decommissioning_data_center/
for 'data-center Please'

It is only missing a full-stop, so is not important.

[2021-08-16 22:17] classbasics commented on #365
Someone fixed it. Thanks.

[2021-08-17 05:23] #370 closed

[2021-08-17 05:24] lauranovich commented on #370
@classbasics - thanks! When I searched the page in the IDE I didn't spot it. I fixed it now, but it will not be on the website for a couple of days.

Thanks again for your help

[2021-08-17 07:29] tzach commented on #686
still valid

[2021-08-19 22:51] pushkine opened #785 "Issue in page Scylla Materialized Views"
https://docs.scylladb.com/using-scylla/materialized-views

### Problem

typo `more than building in each city`

###  Suggest a fix

 `more than one building in each city`

[2021-08-22 05:03] tzach commented on #670
@lauranovich

[2021-08-24 06:30] dimaqq commented on #348
kind poke

[2021-08-24 08:30] martin-sucha opened #786 "md SSTable format not described in docs"
Update the path to the relevant Doc page: https://docs.scylladb.com/architecture/sstable/sstable3/

#### Problem

The [Scylla SSTable 3.x](https://docs.scylladb.com/architecture/sstable/sstable3/) mentions `md` is the SSTable format in newest Scylla versions, but there is no mention about the differences between `mc` and `md` format on that page (and what it solves) nor in sub-pages.

#### Suggest

[2021-08-24 13:11] tzach commented on #786
@bhalevy who can help with this?

[2021-08-24 17:24] erikslott-accertify opened #787 "Issue in page SSTableLoader"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/admin-tools/sstableloader

### Problem
When running sstableloader and utilizing the '-u' for username, sstableloader will not run. Must use --username.
-u,--use-unset - Use ‘unset’ values in prepared statements
-u,--username <username> - username for cassandra authentication

###  Suggest a fix
Remove -u for userna

[2021-08-24 19:40] nyh opened #788 "Issue in page Data Types"
I would like to report an issue in page https://docs.scylladb.com//getting-started/types

### Problem

I came to this page wanting to see which string-like types exists. I ended up being confused whether "varchar" and "text" are the same thing or not. They have the same description, but are they the same type or not? This is not answered in the document.

###  Suggest a fix

The answer is that "va

[2021-08-24 20:06] nyh commented on #788
I just wrote a test case to confirm that TEXT and VARCHAR are the same and their official name is "text". I'll send it as a patch to the test suite later to add it.
[code]

[2021-08-25 08:48] nyh commented on #784
According to @psarna's test, the reasonable process does work correctly.
In https://github.com/scylladb/scylla-docs/pull/3689 (where some of this discussion moved...) a theory is raised that the only bug is with the new "load-and-stream" option. If that is the case, a code issue should be opened about it - not a documentation issue.

I think the remaining documentation issue is that https://docs.s

[2021-08-25 12:56] AdamStawarz opened #789 "Issue in page Apache Cassandra to Scylla Migration Process"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cassandra_to_scylla_migration_process

### Problem
-e arg should be outside quotes
Export schema from Apache Cassandra: cqlsh [IP] "-e DESC SCHEMA" > orig_schema.cql

###  Suggest a fix
Export schema from Apache Cassandra: cqlsh [IP] -e  "DESC SCHEMA" > orig_schema.cql

[2021-08-28 02:05] #479 closed

[2021-08-28 06:04] #435 closed

[2021-08-28 10:25] #437 closed

[2021-08-28 15:26] #434 closed

[2021-08-29 06:13] tzach commented on #789
Let me know if you need any help

[2021-09-01 12:37] tzach commented on #786
@bhalevy who can help with this?

[2021-09-01 13:21] ebenzecri opened #790 "Issue in page Upgrade Guide - Scylla Enterprise 2021.x.y to 2021.x.z for Red Hat Enterprise 7, 8 or CentOS 7, 8"
I would like to report an issue in page https://docs.scylladb.com//upgrade/upgrade-enterprise/upgrade-guide-from-2021.x.y-to-2021.x.z/upgrade-guide-from-2021.x.y-to-2021.x.z-rpm

### Problem
yum cache is never clean between repo changes

###  Suggest a fix
After the repo is updated (file overriten), execute `sudo yum clean all`  as suggested here: https://wiki.centos.org/AdditionalResources/Reposi

[2021-09-01 13:35] bhalevy commented on #786
There is no difference in the on-disk format.

The difference between the `mc` and `md` formats is in the way the `min_column_names` and `max_column_names` members of the Statistics file are computed, which is fixed in `md` (and should be ignored in older format versions).

That said, I don't see any documentation for the Statistics file.

[2021-09-01 17:58] tzach commented on #786
@bhalevy look here
https://docs.scylladb.com/architecture/sstable/sstable3/sstables_3_statistics/

[2021-09-01 18:00] tzach commented on #790
Thanks @ebenzecri what distro and OS version are you using ?

@amoskong any input? I do not remember hitting this in the past

[2021-09-01 18:05] ebenzecri commented on #790
CentOS 7.9 was the one used by the customer. They tried to install 2020.1.8 and immediately changed the repo to 2021 to upgrade to 2021.1.5. I tried the same locally and the repo info wasn't updated automatically (yum was using the old one). But, in any case, the fix suggested is an official recommendation.

[2021-09-01 18:47] erikslott-accertify opened #791 "Issue in page sctool Reference"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/manager/1.1/sctool

### Problem

{root@scymgr001v.prd.chi:/root 1}$ sctool repair progress repair/44e80079-55b6-4e5c-bacc-36c7eb2dc947 --cluster production_us
Error: unknown command "progress" for "sctool repair"

###  Suggest a fix
sctool **task** progress

[2021-09-02 03:34] amoskong commented on #790
Hi @ebenzecri Your suggestion is really necessary, I will add it in the guide. Thanks.

[2021-09-02 05:48] #790 closed

[2021-09-02 06:24] tzach commented on #791
@erikslott-accertify what Scylla Manager version are you using? 1.1 is very old now
For latest Manager docs see
https://manager.docs.scylladb.com/stable/index.html

[2021-09-02 06:43] puzpuzpuz opened #792 "Issue in page Nodetool status"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/status

### Problem

Misprint `keypsaces` in the following text:
[code]

###  Suggest a fix

Should be `keyspaces`.

[2021-09-02 07:21] tzach commented on #792
Thanks @puzpuzpuz

BTW, you can quickly fix such issues yourself from Github UI, by visiting the source and edit it
https://github.com/scylladb/scylla-docs/edit/master/operating-scylla/nodetool-commands/status.rst

[2021-09-02 07:36] puzpuzpuz commented on #792
@tzach good to know. Here is the fix PR: https://github.com/scylladb/scylla-docs/pull/3709

[2021-09-02 08:51] #792 closed

[2021-09-02 12:50] erikslott-accertify commented on #791
Gotcha, that is the only place I can find an example to check for progress on repairs run from the manager.
I cannot seem to find that in the documentation you listed above.

[2021-09-02 14:45] puzpuzpuz opened #793 "Issue in page Administration Guide"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/admin

### Problem

scylla.yaml example has the following text:
[code]

The http://wiki.apache.org/cassandra/Operations returns Page Not Found and, probably, should be changed to something Scylla specific.

###  Suggest a fix

[2021-09-02 18:53] tzach commented on #793
Good catch.
Look like scylla.yaml point to a different link
https://github.com/scylladb/scylla/blob/master/conf/scylla.yaml#L25

So the bigger problem is the page is out of date.

[2021-09-02 18:58] tzach commented on #793
https://github.com/scylladb/scylla/pull/9284

[2021-09-02 19:02] tzach commented on #791
Is this helpful:
https://manager.docs.scylladb.com/stable/sctool/status.html

[2021-09-02 19:07] erikslott-accertify commented on #791
I've located the sctool task commands in the below documentation.

https://manager.docs.scylladb.com/stable/sctool/task.html#id4

[2021-09-05 11:35] nyh opened #794 "Issue in page Nodetool toppartitions"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/toppartitions

### Problem

As noted in https://github.com/scylladb/scylla/issues/9268, this feature was intended to be added to Scylla 4.5 actually missed it and will not come out in Scylla 4.5.0 (the internal feature is there, but the **nodetool** code is not!).

###  Suggest a fix

Say it came

[2021-09-09 10:30] lauranovich commented on #357
Seems to no longer be relevant
closing

[2021-09-09 10:30] #357 closed

[2021-09-09 11:44] #787 closed

[2021-09-10 15:24] ebenzecri opened #795 "Issue in page What is in each RPM"
I would like to report an issue in page https://docs.scylladb.com//getting-started/install_scylla/rpm_info

### Problem
This seems to be specific to RPM. What about DEB?

###  Suggest a fix
If RPM and DEB have the same structure: change the name or create a specific doc for DEB.
If RPM and DEB has different structure: create a specific doc for DEB

[2021-09-10 15:39] ebenzecri commented on #795
Also, the document seems to be outdated

[2021-09-12 05:50] tzach commented on #795
Out dated how? please elaborate or suggest an update

[2021-09-13 07:32] #785 closed

[2021-09-13 07:34] #788 closed

[2021-09-13 07:36] #786 closed

[2021-09-13 07:39] #784 closed

[2021-09-13 07:41] #648 closed

[2021-09-13 07:45] tzach commented on #791
Closing this issue since its a manager issue.
Please reopen in the manager repo if this is still relevant.
Thanks!

[2021-09-13 07:45] #791 closed

[2021-09-13 07:45] tzach commented on #791
https://github.com/scylladb/scylla-manager

[2021-09-13 07:46] tzach commented on #768
@bhalevy any chance you can submit a PR to fix this?

[2021-09-13 14:07] ebenzecri commented on #795
Raw info gathered:

[code]
I would add **scylla-kernel-conf**, **scylla-python3** and maybe **node_health_check** (this one is mentioned by our docs), but it's just a suggestion.

[2021-09-14 12:19] jul-stas opened #796 "Describe "load-and-stream" option of `nodetool refresh`"
Affected page: https://docs.scylladb.com/operating-scylla/nodetool-commands/refresh/

#### Problem
`load-and-stream` feature is not described and the `NOTE` box has outdated information.
This PR introduced the change: https://github.com/scylladb/scylla-tools-java/pull/273

#### Suggest a fix
Copy the explanation from https://groups.google.com/g/scylladb-dev/c/ZIYcEE76BYU?pli=1

[2021-09-15 05:21] tzach commented on #683
Closing this base on @vladzcloudius advice

[2021-09-15 05:21] #683 closed

[2021-09-15 08:31] slavavrn opened #797 "Issue in page Change the Log Level"
I would like to report an issue in page https://docs.scylladb.com//troubleshooting/log_level

### Problem
In part "How to Change Log Level Offline"
Option "--help-logging" is incorrectly specified in the sentence "Valid logger names can be queried with --help-logging"
###  Suggest a fix
Instead of "--help-logging" should be replaced by "--help-loggers"

[2021-09-15 08:41] tzach commented on #797
https://github.com/scylladb/scylla/issues/5216

[2021-09-15 08:48] #797 closed

[2021-09-15 09:54] tzach commented on #796
@jul-stas will the new nodetool operation be supported in 4.5? 4.6?

[2021-09-15 10:31] jul-stas commented on #796
Sadly, I don't know the lifecycle of nodetool and jmx...

[2021-09-15 13:29] juliayakovlev opened #798 "Issue in page Nodetool compact"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/compact

### Problem

[Here](https://docs.scylladb.com/operating-scylla/nodetool-commands/stop/) mentioned different compaction types:
`COMPACTION, CLEANUP, VALIDATION, SCRUB, INDEX_BUILD, RESHARD, UPGRADE, RESHAPE`

From those options only `compact` and `cleanup` are described in the documentatio

[2021-09-16 02:50] #476 closed

[2021-09-17 05:47] #405 closed

[2021-09-19 06:02] tzach commented on #798
@raphaelsc can you please help?
Can you please describe here:
- how to initiate (or what trigger) each compaction type
- what each type do?

[2021-09-19 08:29] tzach commented on #795
@yarongilor can you please validate the above?

[2021-09-19 08:36] yarongilor commented on #795
sure, by asking @yaronkaikov 's advice.

[2021-09-19 09:27] #794 closed

[2021-09-19 13:28] lauranovich commented on #2
We have instructions on running on Docker
Should more be needed I suggest we open a new issue.
Closing for now
Thank you for reporting

[2021-09-19 13:28] #2 closed

[2021-09-19 13:29] lauranovich commented on #60
Great work! closing!

[2021-09-19 13:29] #60 closed

[2021-09-19 13:32] lauranovich commented on #70
As this has been open for a while closing ...

[2021-09-19 13:32] #70 closed

[2021-09-19 13:57] lauranovich commented on #276
Closing this issue

[2021-09-19 13:57] #276 closed

[2021-09-19 13:58] lauranovich commented on #297
no movement on the issue - closing

[2021-09-19 14:49] lauranovich commented on #360
As a production environment would have multiple disks I think we do not need to change this. Closing

[2021-09-19 14:49] #360 closed

[2021-09-19 18:15] mailmahee commented on #297
not sure how I missed this -
@lauranovich it is a bug/typo in the documentation - it needs to be updated, the config is ```connect.class```

[2021-09-20 05:48] #386 closed

[2021-09-20 06:21] #796 closed

[2021-09-22 10:13] nyh opened #799 "Issue in page Data Definition"
I would like to report an issue in page https://docs.scylladb.com//getting-started/ddl

We recently noticed (see for example discussion https://github.com/scylladb/scylla/issues/9352) that it is not documented - at least I couldn't find it documented - that certain kinds of empty or null keys are forbidden:

1. A null value is not allowed as any partition-key or clustering-key column.
2. An **empt

[2021-09-22 13:34] lauranovich commented on #297
@mailmahee - thanks!

[2021-09-22 13:41] lauranovich commented on #297
@mailmahee - what about the other issue described above?

[2021-09-22 17:51] mailmahee commented on #297
@lauranovich the JSON is not structured as the fields and payloads need to be separated appropriately, Indeed the structure for that would be
[code]
it is missing a ```]}```

[2021-09-23 12:05] yaronkaikov commented on #795
@tzach The list of packages looks ok

[2021-09-26 17:01] #389 closed

[2021-09-30 08:50] #297 closed

[2021-09-30 08:51] #799 closed

[2021-09-30 08:53] #140 closed

[2021-10-03 12:14] lauranovich opened #800 "Issue in page Scylla Docs Contributor’s Handbook"
I would like to report an issue in page https://sphinx-theme.scylladb.com/branch-1.0/contribute/contribute-docs

### Problem
link to Scylla Cheat sheet seems to be broken
https://sphinx-theme.scylladb.com/stable/examples/example-topic.htm should be https://sphinx-theme.scylladb.com/stable/examples/index.html
###  Suggest a fix

https://sphinx-theme.scylladb.com/stable/examples/example-topic.htm sh

[2021-10-03 12:49] lauranovich opened #801 "Issue in page Migrating from 0.x to 1.0"
I would like to report an issue in page https://sphinx-theme.scylladb.com/master/contribute/upgrade/0-x-to-1-0

### Problem
Set 'show_sidebar_index': true in html_theme_options (conf.py).

###  Suggest a fix
should be
Set 'hide_sidebar_index': 'false' in html_theme_options (conf.py).

also the copy button for the make file produces an error with the spacing of the commands

[2021-10-03 12:50] lauranovich commented on #801
@dgarcia360 please fix this

[2021-10-03 16:19] dgarcia360 commented on #800
This is fixed in master https://sphinx-theme.scylladb.com/master/contribute/contribute-docs#, it will be visible when we release the next version.

[2021-10-05 01:01] noellymedina opened #802 "Issue in page Enable and Disable Authentication Without Downtime"
I would like to report an issue on page https://docs.scylladb.com//operating-scylla/security/runtime-authentication

### Problem
Step 4 where is `CREATE ROLE scylla WITH PASSWORD '123456' AND LOGIN = true AND SUPERUSER = true;`
There is a = missing after PASSWORD
Hence, we receive an error:
`SyntaxException: line 1:33 missing '=' at '<missing '`
###  Suggest a fix
It should be:
 `CREATE ROLE scyll

[2021-10-05 05:12] tzach commented on #802
Source is here:
https://github.com/scylladb/scylla-docs/blob/master/operating-scylla/security/runtime-authentication.rst

[2021-10-05 13:58] noellymedina commented on #802
Done! :smile:

[2021-10-05 14:05] #802 closed

[2021-10-07 06:28] gcarmin opened #803 "Issue in page OS Support by Platform and Version"
I would like to report an issue in page https://docs.scylladb.com//getting-started/os-support

### Problem

Scylla support x86_64 for all version, and aarch64 starting from Scylla 4.6, and aarch64 starting from Scylla 4.6 and nightly build. In particular, aarch64 support includes AWS EC2 Graviton.

###  Suggest a fix

Scylla support x86_64 for all version, and aarch64 starting from Scylla 4.6 and

[2021-10-07 07:45] #803 closed

[2021-10-12 20:57] amoskong opened #804 "4.5 upgrade guide wrongly pointed to 4.3-to-4.4 link in upgrade INDEX page"
Update the path to the relevant Doc page: https://docs.scylladb.com/upgrade/upgrade-opensource/

#### Problem

4.5 upgrade guide wrongly pointed to 4.3-to-4.4 link.

![Screenshot from 2021-10-13](https://user-images.githubusercontent.com/309708/137027745-370bfbf8-7e5b-4525-8d12-2fdb83895046.png)

#### Suggest a fix

/Cc @tzach

[code]

[2021-10-13 12:40] tzach opened #805 "Issue in page Scylla Cloud"
I would like to report an issue in page https://docs.scylladb.com/scylla-cloud/index

### Problem
The box in the bottom have inconsistent style with the HP
![image](https://user-images.githubusercontent.com/170200/137134143-b84bae4c-574e-4c47-a16f-59b46aa221ae.png)

[2021-10-17 12:57] tzach commented on #663
@rjeczalik who can look into this?

[2021-10-18 05:27] tzach commented on #663
Sorry @rjeczalik I'm used to asking you first...

More specific:
Is the permissions list in the doc is up to date?

[2021-10-20 18:32] tzach opened #806 "Issue in page Integrate Scylla with Kafka - add digrams!"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/integrations/integration-kafka

### Problem

###  Suggest a fix

[2021-10-21 08:02] dgarcia360 commented on #805
- You could remove the box "Learn more about Scylla". Instead, you could add a link to learn how to use Scylla at the end of the Getting Started guide for Scylla cloud.

- Consider changing the icons for the following ones:

![image](https://user-images.githubusercontent.com/9107969/138235204-dac93ff1-dd83-4d38-8fee-0d4dec6a222d.png)

Code snippet for https://github.com/scylladb/scylla-docs/edit/m

[2021-10-22 19:23] lucmargui opened #807 "Include upgrade path from v1.3.0 -> v1.4.0 and from v1.4.0 -> v1.5.0"
Update the path to the relevant Doc page: https://operator.docs.scylladb.com/stable/upgrade.html

#### Problem
Operator docs pages does not mention upgrade path from v1.3.0 -> v1.4.0 and from v1.4.0 -> v1.5.0

#### Suggest a fix
Include upgrade path from v1.3.0 -> v1.4.0 and from v1.4.0 -> v1.5.0 with the relevant steps (as in the previous upgrade paths in the same doc)

[2021-10-25 06:36] tzach opened #808 "Issue in page About Scylla Cloud"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/about-scylla-cloud

### Problem
About Scylla Cloud  should not be under GCP or AWS

[2021-10-26 16:00] scynthiadunlop opened #809 "Issue in page Scylla Cloud Security"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/security/index

### Problem
**SYLLA** CLOUD SECURITY BEST PRACTICE
In the NEXT navigation

###  Suggest a fix
**SCYLLA** CLOUD SECURITY BEST PRACTICE
In the NEXT navigation

[2021-10-26 16:01] scynthiadunlop opened #810 "Issue in page Sylla Cloud Security Best Practice"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/security/best_practices

### Problem
Scylla misspelled in page title
###  Suggest a fix
Fix typo

[2021-10-26 17:16] #809 closed, assigned to nobody

[2021-10-26 17:21] #810 closed, assigned to nobody

[2021-10-27 14:08] #807 closed, assigned to nobody

[2021-10-27 14:30] s905060 opened #811 "Issue in page Administration Guide"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/admin

### Problem
Scylla configuration files
/etc/default/scylla-server (Ubuntu/Debian) 
/etc/sysconfig/scylla-server (others)

###  Suggest a fix
Since version 2020 the default is  /etc/sysconfig/scylla-server for Ubuntu/Debian not /etc/sysconfig/scylla-server

[2021-10-27 14:30] s905060 opened #812 "Issue in page Upgrade from Scylla Enterprise 2019.1 to 2020.1"
I would like to report an issue in page https://docs.scylladb.com//upgrade/upgrade-enterprise/upgrade-guide-from-2019.1-to-2020.1/index

### Problem
Scylla configuration files
/etc/default/scylla-server (Ubuntu/Debian) 
/etc/sysconfig/scylla-server (others)

###  Suggest a fix
Since version 2020 the default is  /etc/sysconfig/scylla-server for Ubuntu/Debian not /etc/sysconfig/scylla-server

[2021-10-28 03:22] fee-mendes opened #813 "Data Definition - memtable_flush_period_in_ms description is misleading"
I would like to report an issue in page https://docs.scylladb.com//getting-started/ddl

### Problem
The section https://docs.scylladb.com/getting-started/ddl/#other-table-options describes the option `memtable_flush_period_in_ms` as:

[code]

However, this is misleading, as the [Cassandra Compatibility](https://docs.scylladb.com/using-scylla/cassandra-compatibility/#create-table-att) actually stat

[2021-10-28 12:45] #813 closed, assigned to nobody

[2021-10-28 14:36] AdamStawarz opened #814 "Issue in page Scylla Manager Upgrade - Scylla Manager 2.x.a to 2.y.b"
I would like to report an issue in page https://docs.scylladb.com//upgrade/upgrade-manager/upgrade-guide-from-2.x.a-to-2.y.b/upgrade-2.x.a-to-2.y.b

### Problem
We don't have prerequisites like db version.
So our customer can easy  upgrade SM version from 2.0 --> 2.5 and got issue because
database version will remain eg on 2018.1

###  Suggest a fix
We can attach information and matrix like this:

[2021-10-29 19:58] ebenzecri opened #815 "Issue in page System Requirements"
I would like to report an issue in page https://docs.scylladb.com//getting-started/system-requirements

### Problem
These are the instance types listed for Microsoft Azure:
L8s_v2
L16s_v2
L32s_v2
L64s_v2
L80s_v2

The list seems to be is incomplete because L48s_v2 is not present.

###  Suggest a fix
Add L48s_v2 to the list

[2021-10-30 13:57] tzach commented on #815
@ebenzecri you can edit the here: https://github.com/scylladb/scylla-docs/edit/master/getting-started/system-requirements.rst

[2021-10-30 14:16] #795 closed

[2021-10-31 10:56] #805 closed

[2021-11-01 17:22] ebenzecri commented on #815
@tzach Done, could you please merge it? Thanks

[2021-11-01 18:10] #815 closed

[2021-11-02 09:53] #768 closed

[2021-11-02 16:18] PeterCorless opened #816 "Issue in page Data Definition"
I would like to report an issue in page https://docs.scylladb.com//getting-started/ddl

### Problem

This page says that Scylla is compatible with Cassandra CQL 3.3.1; another page  https://docs.scylladb.com/using-scylla/cassandra-compatibility/  says that Scylla is compatible with Cassandra CQL 3.4.0.

###  Suggest a fix

 Please confirm which version it is actually compatible with and make sure

[2021-11-03 07:39] tzach commented on #811
@yaronkaikov is this the case?

[2021-11-04 09:09] tarzanek opened #817 "Issue in page Scylla Migration Tools: An Overview"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/mig-tool-review

### Problem

 The Spark migratory allow you to easily transform the data before pushing it to the detestation DB.

###  Suggest a fix

 The Spark migrator allows you to easily transform the data before pushing it to the destination DB.

[2021-11-04 09:47] yaronkaikov commented on #811
@s905060 @tzach Just verified it for both ubuntu:20.04 , debian:10 and centos8. looks to me that page is ok. in ubunt/debian OS we keep the configuration under `/etc/default/scylla-server` while in centos based `/etc/sysconfig/scylla-server`

[2021-11-04 18:47] #530 closed

[2021-11-05 15:22] markallanson opened #818 "Issue in page Global Secondary Indexes"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/secondary-indexes

### Problem

###  Suggest a fix

[2021-11-06 18:58] #818 closed

[2021-11-06 18:59] tzach commented on #818
Nice catch. Thanks for reporting

[2021-11-08 10:54] saa opened #819 "Issue in page Upgrade Scylla Opensource"
I would like to report an issue in page https://docs.scylladb.com//upgrade/upgrade-opensource/index

### Problem

Incorrect link to `Upgrade Guide - Scylla 4.4 to 4.5`

Current link `https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-4.3-to-4.4/`

###  Suggest a fix

Change ling to `https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-4.4-to-4.5/`

[2021-11-08 10:56] #819 closed

[2021-11-10 01:13] ebenzecri opened #820 "Issue in page SSTabledump"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/admin-tools/sstabledump

### Problem
The instructions say: "It is not recommended to use this tool in the production cluster.". Is there any reason about this warning?

###  Suggest a fix
Remove the warning if the tool is safe to be used in production

[2021-11-10 06:17] tzach commented on #820
This warning was inherited from Apache Cassandra
https://cassandra.apache.org/doc/latest/cassandra/tools/sstable/sstabledump.html

Maybe because a large sstable in JSON format can fill up the disk, and reading and writing it (in JSON) can take all the storage resources.
@vladzcloudius please advise

[2021-11-10 17:22] vladzcloudius commented on #820
I think this warning makes no sense.
I'm not aware of any danger of running `sstabledump`.
@raphaelsc Can you think of any?

[2021-11-10 21:33] hopugop opened #821 "Issue in page Scylla FAQ"
I would like to report an issue in page https://docs.scylladb.com/faq

### Problem
SimpleStatement in Java are not token aware by default, it is not mentioned under our docs.
It is mentioned under [DataStax driver](https://docs.datastax.com/en/developer/java-driver/4.9/manual/core/load_balancing/#providing-routing-information).

###  Suggest a fix
A FAQ documentation update is suggested to properl

[2021-11-12 13:37] vladzcloudius commented on #632
@tzach ping

[2021-11-14 06:25] #740 closed

[2021-11-14 06:38] tzach commented on #632
fix with https://github.com/scylladb/scylla-docs/pull/3690

[2021-11-14 06:38] #632 closed

[2021-11-15 22:25] vladzcloudius commented on #342
@tzach ping

[2021-11-16 09:45] guy9 opened #822 "Issue in page Scylla Monitoring Stack"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/monitoring/index

### Problem
On the right hand side of the page there is some scrambled text
![Screenshot from 2021-11-16 11-43-27](https://user-images.githubusercontent.com/42927024/141961626-c6930c57-c8a6-4db4-8cde-9e6b2222880c.jpg)

###  Suggest a fix

[2021-11-16 12:45] #822 closed

[2021-11-21 18:14] hopugop commented on #821
PR was merged onto tree so issue can be closed.

[2021-11-21 18:14] #821 closed

[2021-11-23 16:16] martin-sucha opened #823 "Issue in page Tracing"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/tracing

### Problem

There is note

It is not clear what the note means exactly.

###  Suggest a fix

- Describe what `ALL` means. Does it mean rf for each DC should be the same as count of nodes in the DC with `NetworkTopologyStrategy`? Or does this note mean `EverywhereReplicationStrategy` or some other strategy?
-

[2021-11-23 16:44] tzach commented on #823
@vladzcloudius can you advise?

[2021-11-24 01:41] vladzcloudius commented on #823
@martin-sucha, "ALL" there means the same as `EverywhereReplicationStrategy` or RF set to the number of nodes in each DC for NetworkingStrategy or all nodes in the cluster for the SimpleStrategy.

Just like you said in the first bullet.

As to how to fix, @tzach: I think that recommending to use `EverywhereReplicationStrategy` makes more sense since it's simpler.

[2021-11-24 11:18] martin-sucha commented on #823
I think it would also be useful to mention one sentence why it is recommended to set the replication this way.

[2021-11-24 11:22] martin-sucha opened #824 "Tracing page does not mention that nodetool settraceprobability is per-node"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/tracing

### Problem

Based on the docs, I initially thought that the `nodetool settraceprobability` applies cluster-wide. There is text like

While in fact, `nodetool settraceprobability` changes the setting only for the one coordinator node.

###  Suggest a fix

Explicitly mention that `nodetool settraceprobability`

[2021-11-24 13:56] martin-sucha opened #825 "Unit of system_traces.sessions"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/tracing

### Problem

Column duration of system_traces.sessions is described as

But the description does not say which unit of time is used for the duration.

###  Suggest a fix

Include unit that is used - `microseconds`? `milliseconds`?

[2021-11-24 14:00] martin-sucha commented on #825
This would suggest microseconds - https://community.datastax.com/questions/7356/what-is-the-time-unit-for-system-tracesevents-tabl.html

[2021-11-24 15:30] tzach commented on #825
Yes, microseconds

[2021-11-24 15:33] #825 closed

[2021-11-24 15:33] tzach commented on #825
Thanks for reporting @martin-sucha !

[2021-11-24 15:40] tzach commented on #824
@vladzcloudius please confirm

[2021-11-24 22:31] vladzcloudius commented on #824
The wording on the page is indeed confusing and the suggested fix makes a lot of sense, @tzach.
Thanks for finding this, @martin-sucha.

[2021-11-25 09:20] #824 closed

[2021-11-25 09:20] tzach commented on #824
Done!
Thanks @martin-sucha

[2021-11-28 06:38] #371 closed

[2021-11-28 07:39] tzach commented on #686
Going back to this

What do you mean incorrect i this context? wrong values (bad)? errors? (not so bad)

[code]

Does SUCCESS means MV build is done?
What other states possible?

[2021-12-10 22:25] vladzcloudius commented on #670
@tzach ping

[2021-12-16 15:53] soyacz opened #826 "nodetool repair options missing"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/repair

### Problem
nodetool repair has more options than listed on docs site. All options (from nodetool help repair):
[code]
###  Suggest a fix
make explanation for other options too.

[2021-12-16 18:06] tzach commented on #826
Good catch
Did you validate all of these options works?

[2021-12-17 07:19] soyacz commented on #826
No, I didn't validate.
What we have in dtest:
-et, -pr, -local, -dc, -seq, -hosts, -st, -full
missing:
-dcpar, -j, -p, -pl, pw, -pwf, -tr, -u

[2021-12-19 08:56] tzach commented on #826
From the tested options only `seq` and `full` are missing
**Full** is only relevant with Incremental repair, which is not supported in Scylla
**Sequential** repair is indeed missing. Can you please point to the relevant tests? If it is stable and fully tested - we should add it

[2021-12-20 09:17] soyacz commented on #826
seq: https://github.com/scylladb/scylla-dtest/blob/next/repair_additional_test.py#L1272
full: there's no specific test, but is used in various ones when using this method: https://github.com/scylladb/scylla-dtest/blob/next/repair_test.py#L150

[2021-12-20 10:43] #826 closed

[2021-12-21 10:26] juliayakovlev opened #827 "Issue in page Nodetool refresh"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/refresh

When issue https://github.com/scylladb/scylla-tools-java/issues/282 will be solved, we need to describe `--primary-replica-only` parameter in the documentation

[2021-12-29 07:35] guy9 opened #828 "Issue in page Apache Cassandra to Scylla Migration Process"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cassandra-to-scylla-migration-process

### Problem
When exporting the Schema from Cassandra some attributes cannot be read by Scylla causing failures:
1. cdc = false
2. additional_write_policy = '99p'
3. extensions = {}

###  Suggest a fix
Consider changing Scylla to read these or some of them.
Otherwise

[2021-12-29 07:39] tzach commented on #828
This is better fixed in Scylla as well
Can you please open an issue with a simple reproducer?

[2021-12-29 07:53] guy9 commented on #828
Additionally:
Problem:
4. read_repair = 'BLOCKING'
5. ConfigurationException: Missing sub-option 'sstable_compression' for the 'compression' option and
6. ConfigurationException: Unknown compression option 'class'.
Fix:
4. Remove attribute
5. for compression add 'sstable_compression': 'org.apache.cassandra.io.compress.LZ4Compressor' to the dictionary. Also, see existing issue https://github.com/sc

[2021-12-30 11:44] guy9 commented on #828
Also see Scylla issue: https://github.com/scylladb/scylla/issues/9859

[2021-12-31 07:36] tzach commented on #407
Not six copies, rather 3, one for each replica.
The backup is done directly from storage per node.
Would you please let me know if we need to improve the doc to make it clearer?

[2022-01-02 09:32] nyh commented on #761
This documentation issue is still valid - "keyspacename/tablename" and "keyspacename/" are additional allowed syntax to "keyspacename.tablename" and "keyspacename" - and they are not mentioned in the documentation.

I explained above why these second syntax are needed for frontends (namely Alternator, but not CQL) which allow a dot in the table name. I also explained why this is needed in "nodetoo

[2022-01-03 05:23] guy9 opened #829 "Issue in page Scylla and Apache Cassandra Compatibility"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/cassandra-compatibility

### Problem
The page is outdated and does not list compatibilities with Cassandra 4.0

###  Suggest a fix
Update the page

[2022-01-03 06:51] tzach commented on #829
@bhalevy can you help with the details?
Supported CQL version
Supported SSTables versions
Cassandra 4 compatibility

[2022-01-03 09:22] bhalevy commented on #829
@tzach AFAIK "md" is still the latest sstable format we support, and I don't know of any material change in our CQL compatibility.

Cc @eliransin / @psarna

As for Cassandra 4 compatibility, I'm really not the expert on it.

[2022-01-03 15:36] bhalevy opened #830 "Document interaction between aggregate functions and LIMIT"
https://docs.scylladb.com/getting-started/functions/#aggregate-functions

#### Problem

The way SELECT `PER PARTITION LIMIT` and `LIMIT` interact with aggregate functions is undocumented.
One can easily infer that the aggregate functions operate on the result of the SELECT clause, after e.g. `PER PARTITION LIMIT`, but it is not so. `LIMIT` and `PER PARTITION LIMIT` are applied on the output of the

[2022-01-06 08:42] guy9 opened #831 "Issue in page Reverse Queries fail when partition is larger than the maximum safe size"
I would like to report an issue in page https://docs.scylladb.com//troubleshooting/reverse-queries

### Problem
1. In terms of English the page requires a rewrite, it has many mistakes and is hard to follow
2. The issue this article is based on https://github.com/scylladb/scylla/issues/5804 has been closed which makes the page outdated

###  Suggest a fix
One of two options. I think we should go w

[2022-01-06 08:54] tzach commented on #831
@denesb is this page still relevant?

[2022-01-06 08:58] denesb commented on #831
Partially. While the issue is indeed mostly moot on latest master (and to some extent 4.6), we still have many releases on which this issue is very valid, particularly enterprise ones. So we should make it clear which releases are affected at the very least.

[2022-01-06 10:58] guy9 opened #832 "Issue in page Remove a Node from a Scylla Cluster (Down Scale)"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/remove-node

### Problem
1. This document is outdated. Since https://github.com/scylladb/scylla/pull/7626 was merged over a year ago and the '--ignore-dead-nodes' option (https://github.com/scylladb/scylla-tools-java/issues/251) has been added, some paragraphs are no longer valid
2. Al

[2022-01-18 04:23] #403 closed

[2022-01-18 08:15] tzach opened #833 "Update Apache Cassandra to Scylla Migration Process - update to Cassandra 4 and Scylla 4"
I would like to report an issue in page https:/docs.scylladb.com//operating-scylla/procedures/cassandra-to-scylla-migration-process

### Problem

The schema differences are not complete.

[2022-01-18 19:14] tzach opened #834 "Deploy Scylla Cloud - Bring Your Own Account - add digram"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/cloud-setup/AWS/scylla-cloud-byoa

The following diagram is useful to understand BYOA
![image](https://user-images.githubusercontent.com/170200/150003408-7ae0b0e4-d46f-41f8-8df2-6b8692d45c4a.png)

[2022-01-19 00:17] #404 closed

[2022-01-19 05:33] #390 closed

[2022-01-20 01:20] #391 closed

[2022-01-22 20:18] #388 closed

[2022-01-23 12:40] #408 closed

[2022-01-23 22:26] #464 closed

[2022-01-25 11:54] tzach commented on #829
@eliransin / @psarna ping

[2022-01-25 11:55] #451 closed

[2022-01-25 14:43] #628 closed

[2022-01-25 17:26] psarna commented on #829
We generally support CQL v4 with an addition of supporting the `duration` type, which comes from v5 - and perhaps some other minor things from v5 that I'm not aware of.

This doc describes the type mapping: https://github.com/scylladb/scylla/blob/master/docs/design-notes/cql3-type-mapping.md
And this one describes our CQL extensions, not compatible with Cassandra: https://github.com/scylladb/scyll

[2022-01-26 09:19] slivne opened #835 "Issue in page Update Topology Strategy From Simple to Network"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/cluster-management/update-topology-strategy-from-simple-to-network

### Problem
Nodes are on different racks
This is a more complex scenario, as the new strategy may select different replicas depending if the nodes are on different racks. To fix that, you will need a full shutdown of the cluster.

- Stop

[2022-01-26 09:20] slivne commented on #835
reported by phip.blitch@arcadiasolutions.com on slack

[2022-01-28 04:41] rjeczalik commented on #663
@tzach We recently extended IAM Role with new permissions, so we still need to update this document.

@carlosms @nuivall fyi

[2022-01-28 07:26] tzach commented on #663
@rjeczalik can you please send a PR?

[2022-01-28 07:27] rjeczalik commented on #663
@tzach Will do.

@carlosms @nuivall Do you guys remember exactly what kind of permissions have we added since this very issue was created?

[2022-01-28 08:58] carlosms commented on #663
The current contents seem to come from https://github.com/scylladb/scylla-docs/commit/f3365cd61db398d645d579c7f4dcf0a6a8527b88, on 2020-03-08.

This is a diff with a commit in our repo from around that time, 116ff9f51d 2020-03-02

Also, there are a few open issues that may change the policies in the near future:
- https://github.com/scylladb/siren/pull/6652
- https://github.com/scylladb/siren/pull

[2022-01-28 10:10] #449 closed

[2022-01-28 15:34] #457 closed

[2022-01-29 08:24] #456 closed

[2022-01-31 06:50] #450 closed

[2022-01-31 19:04] tzach opened #836 "Issue in page Scylla Cloud Backups - need to clarify cluster deletion policy"
I would like to report an issue on page https://docs.scylladb.com//scylla-cloud/cloud-services/cloud-backup

### Problem
The doc mentions retention time but does not state the policy when the customer deletes cluster.

###  Suggest a fix

Explicitly state backups are deleted when a cluster is deleted.

[2022-01-31 21:35] PhipBlitch-Arcadia commented on #835
Thank you @slivne for opening this issue.

With this clarification, I encountered another challenge: using `nodetool disablebinary` makes it possible to run the repair, but it prevents cqlsh from connecting for the alter strategy step. Should the protocol be reenabled and then disabled again for the second repair?

[2022-02-01 11:05] tzach opened #837 "Issue in page Scylla Cloud - add link to care pet"
I would like to report an issue in page https://docs.scylladb.com//scylla-cloud/index

[2022-02-06 07:14] tzach commented on #798
@raphaelsc ping 2

[2022-02-06 10:57] tzach opened #838 "Too long breadcrumbs looks off"
For example https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-4.5-to-4.6/upgrade-guide-from-4.5-to-4.6-rpm

### Problem
![image](https://user-images.githubusercontent.com/170200/152677603-1fc9331c-ed46-43dd-8af9-69146fe006bd.png)

[2022-02-06 10:57] tzach commented on #838
@dgarcia360

[2022-02-07 09:19] tzach opened #839 "Issue in page Materialized Views - formatting issue"
https://docs.scylladb.com/getting-started/mv/

Some of the example have a small, not easy to use scroll bars
![image](https://user-images.githubusercontent.com/170200/152759787-d4f367b2-7af9-4ee5-8f6b-e53557bd0e49.png)

Better remove them, and present the full code here

[2022-02-07 09:19] tzach commented on #839
@dgarcia360 can you please take a look?

[2022-02-07 11:49] #814 closed, assigned to nobody

[2022-02-07 18:08] raphaelsc commented on #798
INDEX_BUILD is not supported

Unfortunately, for each type, we have a different command. We inherited this from C*

Cleanup is started with nodetool cleanup, which is documented here: https://docs.scylladb.com/operating-scylla/nodetool-commands/cleanup/

nodetool compact only refers to COMPACT type, which is user-initiated (a.k.a. major) coompaction.

Scrub and validate should be initiated with no

[2022-02-11 21:30] PeterCorless commented on #816
This is not a "stale" issue.

[2022-02-11 21:31] PeterCorless commented on #816
Also, @tzach, I would recommend turning OFF Stalebot for now because there's been a backlog of documentation issues. Just because we're behind doesn't mean these are closable.

[2022-02-12 13:50] tzach commented on #816
Leaving issues for years does not help either

[2022-02-14 14:30] annastuchlik commented on #817
This issue has already been fixed with commit 4de5601 and the corrected version is publicly available.
https://github.com/scylladb/scylla-docs/commit/4de5601e6169fe0bf4b867cc691d4b45b0434f32
https://docs.scylladb.com/using-scylla/mig-tool-review/

@tzach This issue can be closed.

[2022-02-14 14:46] annastuchlik commented on #811
Yaron has verified that the current documentation is up to date.
@tzach This issue can be labeled as "invalid" and closed.

[2022-02-14 17:57] #811 closed, assigned to annastuchlik

[2022-02-14 18:07] #817 closed

[2022-02-15 13:10] annastuchlik commented on #833
@tzach  Does https://github.com/scylladb/scylla-docs/pull/3921 resolve this issue?
The schema differences between Cassandra 4.x and Scylla 4.x are now documented.

[2022-02-15 13:13] guy9 commented on #833
I think it does

[2022-02-15 13:13] #833 closed

[2022-02-18 13:50] annastuchlik commented on #142
@tzach This issue is a duplicate of https://github.com/scylladb/scylla-docs/issues/2377. I'm closing it.

[2022-02-18 13:50] #142 closed

[2022-02-18 15:44] chicks-net commented on #142
That other issue is not visible to most github users so no one will be able to follow the progress of this.

[2022-02-21 11:04] #835 closed

[2022-02-21 11:18] annastuchlik commented on #808
From Tzach: Remove the About Scylla Cloud page.

[2022-02-21 11:22] tzach commented on #142
You are right, and we want to unify the doc projects

[2022-02-21 17:16] annastuchlik commented on #804
This issue was fixed by Tzach on Dec 14, 2021. The page is updated:
https://docs.scylladb.com/upgrade/upgrade-opensource/

[2022-02-21 21:35] chicks-net commented on #142
Unifying doc projects sounds like a laudable goal.  I'm not clear why this unified doc project needs to be private.  All of https://github.com/scylladb/scylla-docs/ is 404 to me.  Was that intentional?  I thought Scylla was trying to operate in an open-source friendly fashion.  Has there been a change of direction?

[2022-02-22 06:45] tzach commented on #142
It does not. I wan to move the Scylla Open source docs under the scylla project, so it can be open source.
Once we do that, we do not need this project any more.

[2022-02-22 09:05] guy9 opened #840 "Issue in page Scylla CQL Drivers"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/drivers/cql-drivers/index

### Problem
The link to the Scala driver is incorrectly formatted

###  Suggest a fix
Correct the formatting

[2022-02-22 10:17] #840 closed

[2022-02-27 07:06] #820 closed

[2022-02-28 13:23] bhalevy opened #841 "Issue in page Nodetool status"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/nodetool-commands/status

### Problem

1. typo: s/keypsaces/keyspaces/
2. The example has some weird markdown where parts of the text are printed green.  Should be unformatted.

###  Suggest a fix

[2022-03-01 19:15] #841 closed

[2022-03-07 11:37] #832 closed

[2022-03-07 12:49] annastuchlik commented on #808
The About page has been removed:
https://docs.scylladb.com/scylla-cloud/cloud-setup/AWS/
https://docs.scylladb.com/scylla-cloud/cloud-setup/GCP/
Other changes are not within the scope of this task and will be performed after the migration of the Scylla Cloud docs to the new repo. The changes can be monitored here: http://cloud.docs.scylladb.com/

[2022-03-07 12:49] #808 closed

[2022-03-09 11:18] tzach commented on #798
@raphaelsc can you please either send a PR, or paste the relevant wording here in the comment?

[2022-03-13 06:37] tzach commented on #686
@nyh see my question above

[2022-03-14 11:18] guy9 opened #842 "Issue in page Best Practices for Running Scylla on Docker"
I would like to report an issue in page https://docs.scylladb.com//operating-scylla/procedures/tips/best-practices-scylla-on-docker

### Problem
It seems like the docker --overprovisioned flag changed its default behavior. In the Docs, it says it defaults to disabled. Here: https://hub.docker.com/r/scylladb/scylla/ it says that it defaults to enabled.

###  Suggest a fix
Are the doc pages per Scyl

[2022-03-16 18:25] kokizzu opened #843 "None of the docker commands works for 4.5, 4.6, latest"
Update the path to the relevant Doc page: https://docs.scylladb.com/operating-scylla/procedures/tips/best-practices-scylla-on-docker/

#### Problem
[code]

#### Suggest a fix

[2022-03-16 21:13] annastuchlik commented on #843
@kokizzu Thank you for reporting the problem. Could you tell me which operating system you are using?

[2022-03-17 07:24] kokizzu commented on #843
@annastuchlik PopOS 21.10 (Ubuntu 21.10-based) 64-bit
Linux pop2104 5.16.11-76051611-generic #202202230823~1646248261~21.10~2b22243 SMP PREEMPT Wed Mar 2 20: x86_64 x86_64 x86_64 GNU/Linux

[2022-03-17 11:10] annastuchlik commented on #843
@slivne I'm not sure if this is a documentation issue. If it is, please provide a description of what should be updated to make the commands work.

[2022-03-17 11:36] annastuchlik commented on #680
@tzach Who can help us with that?

[2022-03-17 11:52] annastuchlik commented on #842
@slivne Who can help me determine which of the following is true?

Docs:
If no ``--overprovisioned`` option is specified, Scylla defaults to running with optimizations **disabled**.

DockerHub:
If no ``--overprovisioned`` option is specified, Scylla defaults to running with optimizations **enabled**.

[2022-03-17 16:18] kokizzu commented on #843
ah yes, not documentation issue, I tried with 4.4.0 it works normally

[code]

[2022-03-17 16:23] #843 closed

[2022-03-17 16:25] kokizzu commented on #843
but 4.6 didn't work XD

[code]

[2022-03-20 05:22] tzach commented on #646
@amnonh please help by mapping the support `nodetool compact` options

[2022-03-20 17:19] #422 closed

[2022-03-21 07:48] amnonh commented on #646
From going over the code (java and C++) it seems that we ignore/not supporting the following:

```-st, --start-token Use -st to specify a token at which the compaction range starts``` - Igrnoed
```-et, --end-token, Use -et to specify a token at which compaction range ends``` - Igrnoed

```--user-defined```  - not supported
```--split-output``` - not supported

[2022-03-21 08:10] annastuchlik commented on #422
The issue has been fixed: https://docs.scylladb.com/operating-scylla/security/gen-cqlsh-file/

[2022-03-21 12:50] tzach commented on #839
@dgarcia360  can you please take a look?

[2022-03-21 12:59] tzach commented on #834
Fixed https://cloud.docs.scylladb.com/stable/security/concepts.html

[2022-03-21 12:59] #834 closed

[2022-03-21 20:04] dgarcia360 commented on #839
![image](https://user-images.githubusercontent.com/9107969/159354588-2d37b60d-504e-4ec1-864d-cf0460344591.png)
It would be best to use the [code-block](https://sphinx-theme.scylladb.com/stable/examples/code-blocks.html) directive instead than ``productionlist``.

Additionally, we can add a minimum height for code-blocks in the theme in case they only have only one line.

@tzach Please let me know

[2022-03-22 06:24] tzach commented on #839
Can we define `productionlist` as an alias of `code-block`?

[2022-03-22 08:33] dgarcia360 commented on #839
It might be best to find and replace `productionlist ` for `code-block` since `productionlist `is another well defined Sphinx directive: https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#grammar-production-displays

[2022-03-22 08:45] annastuchlik commented on #837
The tutorials are now linked with the ScyllaDB Cloud docs: https://cloud.docs.scylladb.com/

[2022-03-22 08:45] #837 closed

[2022-03-22 09:06] tzach commented on #839
OK, so lets do that.
Can you please send a PR for *all* productionlist in the repo?

[2022-03-22 10:03] dgarcia360 commented on #838
Closed by https://github.com/scylladb/sphinx-scylladb-theme/pull/389. This will be fixed with sphinx-scylla-theme 1.2.

[2022-03-24 09:38] #839 closed

[2022-03-24 21:29] fee-mendes opened #844 "Issue in page Data Definition"
I would like to report an issue in page https://docs.scylladb.com/getting-started/ddl/#compression-options

### Problem
Report from [an user in Slack](https://scylladb-users.slack.com/archives/C2NLNBXLN/p1648149158649319):

Our documentation mentions an option to enable/disable compression, this option doesn't exist.

###  Suggest a fix
1. To enable compression, the command line should be:
[code]

[2022-03-25 10:10] annastuchlik commented on #844
@fee-mendes  Thanks for reporting the issue. Can you please review the PR before I merge the changes?

[2022-03-25 11:04] annastuchlik commented on #842
@nyh Is there any chance you could help me with this one or refer to somebody who could?

[2022-03-27 05:46] #844 closed

[2022-03-27 16:31] nyh commented on #842
@syuu1228 maybe you can answer this? If the overprovisioned option indeed changed unintentionally, maybe it's another thing accidentally changed when moving from Fedora to Ubuntu?

[2022-03-29 00:42] scynthiadunlop opened #845 "Broken links found in web scan"
### Problem

ISSUE
Broken internal links lead users from one website to another and bring them to non-existent webpages. Multiple broken links negatively affect user experience and may worsen your search engine rankings because crawlers may think that your website is poorly maintained or coded.

###  Suggest a fix

HOW TO FIX IT
Please follow all links reported as broken. If a target webpage retur

[2022-04-01 10:44] annastuchlik commented on #663
This issue was fixed on March 28, 2022: https://github.com/scylladb/scylla-cloud-doc/pull/21.
The documentation is now up to date: https://cloud.docs.scylladb.com/stable/cloud-setup/AWS/scylla-cloud-byoa#aws-credentials.
I'm closing this issue.

[2022-04-01 10:44] #663 closed

[2022-04-05 06:21] tzach opened #846 "Issue in page OS Support by Platform and Version - add Scylla 4.6 and 5.0 and 2022.1"
I would like to report an issue in page https://docs.scylladb.com//getting-started/os-support

[2022-04-06 14:10] annastuchlik commented on #842
@syuu1228 Could you help us?

[2022-04-07 08:23] annastuchlik commented on #436
This issue has been fixed: https://docs.scylladb.com/operating-scylla/nodetool/

[2022-04-07 08:23] #436 closed

[2022-04-07 14:39] scynthiadunlop commented on #845
I believe they surfaced when running ScreamingFrog to check for broken links. Let me see if we can get the details on what links there.

[2022-04-07 17:34] scynthiadunlop commented on #845
Response: " We do not have that level of detail. Most of these appear to be cases where the URL was changed/updated but a 301 redirect was not put in place. They are like for like pages and the fix is still the same."

[2022-04-07 18:05] #846 closed

[2022-04-08 08:24] annastuchlik commented on #812
See https://github.com/scylladb/scylla-doc-issues/issues/811.

[2022-04-08 08:24] #812 closed

[2022-04-08 11:41] annastuchlik commented on #845
Thanks! I'll try to sort it out.

[2022-04-11 08:32] tzach opened #847 "Issue in page Scylla Open Source Features - need to refresh with latest features"
I would like to report an issue in page https://docs.scylladb.com//using-scylla/features-open-source

[2022-04-13 08:49] annastuchlik commented on #670
The page has been updated since this issue was opened: https://docs.scylladb.com/operating-scylla/procedures/cluster-management/add-dc-to-existing-dc/

The most confusing part about setting the replication factor to 0 has been removed (https://github.com/scylladb/scylla-docs/pull/3837).

I think we still should update the info about the seeds.
_For each node in the **new datacenter** edit the scyl

[2022-04-13 09:27] #629 closed

[2022-04-13 09:51] annastuchlik commented on #523
The Scylla Monitoring documentation has been moved and is now available at https://monitoring.docs.scylladb.com/.  The link has been replaced to refer to the new location.

[2022-04-13 09:51] #523 closed

[2022-04-13 09:59] annastuchlik commented on #518
The issue has been fixed in the new location: https://operator.docs.scylladb.com/stable/generic.html

[2022-04-13 09:59] #518 closed

[2022-04-13 10:11] annastuchlik commented on #417
The content has been replaced with the links to the newer content.

[2022-04-13 10:11] #417 closed

[2022-04-13 10:11] annastuchlik commented on #418
The content has been replaced with the links to the newer content.

[2022-04-13 10:11] #418 closed

[2022-04-13 10:19] annastuchlik commented on #414
@tzach I think this one is still relevant. We should update the theme to only copy the command and skip `$` if present.

[2022-04-13 10:37] tzach commented on #414
It would be easier to remove the prefix from the bash examples (also we are not consistently using $)

[2022-04-13 11:13] annastuchlik commented on #414
OK, so I'll remove it from that page (and others when updating them) and add the guideline to our styleguide.

[2022-04-13 11:49] #414 closed

[2022-04-13 11:50] annastuchlik commented on #670
@asias Does the user need to modify the `seed` parameter when adding a new data center into an existing cluster? Please see my comment above.

[2022-04-13 12:09] asias commented on #670
The seed is mentioned. See below:

![image](https://user-images.githubusercontent.com/320076/163176470-009961af-8c27-4a98-ba37-cde2538b234c.png)

We need to modify the seed parameter for new nodes. No need to seed parameter of modify existing nodes with seedless feature.

[2022-04-13 12:24] annastuchlik commented on #670
@asias Thank you!
_The seed is mentioned._ - Yes, I just wanted to list it in a separate bullet above (just like cluster_name and endpoint-snitch) before the comment in the last bullet. I'll open a small PR in a moment for you to review.
_No need to seed parameter of modify existing nodes_ - So I thought, thanks.

[2022-04-14 09:08] annastuchlik commented on #658
Thanks for reporting. I'm closing this issue due to a long period of inactivity. Please feel free to reopen it if you have more information that can help us investigate the issue further.

[2022-04-14 09:08] #658 closed

[2022-04-14 09:10] annastuchlik commented on #598
Thanks for reporting. I'm closing this issue due to a long period of inactivity. Please feel free to reopen it if you have more information that can help us investigate the issue further.

[2022-04-14 09:10] #598 closed

[2022-04-14 12:11] annastuchlik commented on #154
The current status:
- Now there is only one page about enabling authentication without downtime, so the main problem has been fixed.
- The inconsistencies described by the author of the issue are fixed in the PR.
- The PR includes some language improvements for the sake of consistency.

[2022-04-15 08:08] annastuchlik commented on #361
The link for CentOS is addad: https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-4.1-to-4.2/index.
And it takes you here: https://docs.scylladb.com/upgrade/upgrade-opensource/upgrade-guide-from-4.1-to-4.2/upgrade-guide-from-4.1-to-4.2-rpm/

[2022-04-15 08:08] #361 closed

[2022-04-15 10:25] annastuchlik commented on #240
@eliransin I've opened a PR to fix the reported problem. Could you review it? If you think that we can and should replace the example as I described above, I'll push another commit.

[2022-04-15 14:18] annastuchlik commented on #407
Thanks for reporting. I'm closing this issue due to a long period of inactivity. Please feel free to reopen it if you have more information that can help us investigate the issue further.

[2022-04-15 14:18] #407 closed

[2022-04-15 14:20] annastuchlik commented on #410
The issue is now fixed - the link is working.

[2022-04-15 14:20] #410 closed

[2022-04-16 19:22] #461 closed

[2022-04-16 20:22] #459 closed

[2022-04-16 21:22] #463 closed

[2022-04-16 23:22] #387 closed

[2022-04-17 04:51] bhalevy commented on #761
still valid

[2022-04-17 04:52] bhalevy commented on #830
still valid

[2022-04-17 06:21] #366 closed

[2022-04-17 06:30] #240 closed

[2022-04-17 11:11] #154 closed

[2022-04-17 20:22] #415 closed

[2022-04-18 01:22] #420 closed

[2022-04-18 03:22] #480 closed

[2022-04-18 05:22] #515 closed

[2022-04-18 11:13] syuu1228 commented on #842
I looked into both 4.5.4 Docker image(CentOS) and latest Docker image(Ubuntu), but the behavior with --overprovisioned not changed. Both images enable the option by default.
(see https://github.com/scylladb/scylla/blob/master/dist/docker/scyllasetup.py#L94 and https://github.com/scylladb/scylla/blob/branch-4.5/dist/docker/redhat/scyllasetup.py#L94)
I think only problem is documentation outdated.
W

[2022-04-18 11:17] syuu1228 commented on #842
I guess we simply can change description from disable by default to enable by default, since the change is very old (we have this since version 2.3).

[2022-04-18 12:46] vladzcloudius commented on #671
@annastuchlik FYI

[2022-04-19 08:28] annastuchlik commented on #670
The documentation has been fixed with https://github.com/scylladb/scylla-docs/pull/3837 and https://github.com/scylladb/scylla-docs/pull/3986.

[2022-04-19 08:28] #670 closed

[2022-04-19 09:01] annastuchlik commented on #463
This page has been fixed (https://github.com/scylladb/scylla-docs/commit/faf87642991f73fe299dd69775216d8a9bb5c147).

[2022-04-19 14:12] annastuchlik commented on #515
The typo has been fixed.

[2022-04-19 15:03] annastuchlik commented on #420
The reported mistake has been fixed (https://github.com/scylladb/scylla-docs/pull/3989).